Repository simon-lentz/yammm: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamlfmt, gofumpt, goimports, go-mod-tidy

yamlfmt:
  name: yamlfmt
  description: This hook uses github.com/google/yamlfmt to format yaml files. Requires Go >1.18 to be installed.
  entry: yamlfmt
  language: golang

gofumpt:
  name: gofumpt
  entry: gofumpt
  language: system
  args:
  - -w

goimports:
  name: goimports
  entry: goimports
  language: system
  args:
  - -w

go-mod-tidy:
  name: go mod tidy
  entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && go mod tidy'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

feat(extension): bumps dependencies and version
  .golangci.yml
  lsp/editors/vscode/.eslintrc.json
  lsp/editors/vscode/.nvmrc
  lsp/editors/vscode/.vscodeignore
  lsp/editors/vscode/eslint.config.mjs
  lsp/editors/vscode/package-lock.json
  lsp/editors/vscode/package.json
  lsp/editors/vscode/syntaxes/yammm.tmLanguage.json
  lsp/editors/vscode/tests/snapshot/schema.yammm.snap
Due: yamlfmt

fix(plugin): fixes tool io issues and isolates to scripts
  .claude-plugin/marketplace.json
  claude-plugin/.claude-plugin/plugin.json
  claude-plugin/README.md
  claude-plugin/hooks/check-env.sh
  claude-plugin/hooks/hooks.json
  claude-plugin/hooks/validate-yammm.sh
  claude-plugin/skills/author-schema/SKILL.md
  claude-plugin/skills/review-schema/SKILL.md
  claude-plugin/skills/setup/SKILL.md
  claude-plugin/skills/setup/evals/trigger-queries.md
  claude-plugin/skills/yammm/SKILL.md
Due: none

fix(plugin): updates guidance, fixes hooks, revises skills
  .claude-plugin/marketplace.json
  claude-plugin/.claude-plugin/plugin.json
  claude-plugin/hooks/validate-yammm.sh
  claude-plugin/skills/setup/SKILL.md
  claude-plugin/skills/yammm/SKILL.md
Due: none

fix(docs): updates plugin readme
  claude-plugin/README.md
Due: none

feat(docs): updates plugin readme
  claude-plugin/README.md
Due: none

feat(docs): extends surface and improves accuracy
  adapter/csv/doc.go
  adapter/doc.go
  adapter/json/doc.go
  adapter/neo4j/doc.go
  diag/doc.go
  doc.go
  format/doc.go
  graph/doc.go
  graph/walk/doc.go
  immutable/doc.go
  instance/doc.go
  instance/internal/eval/doc.go
  internal/ident/doc.go
  location/doc.go
  lsp/doc.go
  schema/doc.go
  schema/expr/doc.go
  snapshot/doc.go
Due: gofumpt, goimports

feat(snapshot): adds an 0(1) header accessor
  snapshot/doc.go
  snapshot/info.go
  snapshot/snapshot_test.go
Due: gofumpt, goimports

feat(diag): adds prereq codes
  claude-plugin/skills/yammm/references/diagnostics.md
  diag/code.go
  diag/code_documented_test.go
  diag/code_test.go
  diag/doc.go
  docs/VERSIONING.md
Due: gofumpt, goimports

feat(snapshot): adds HeaderOnlyRead(ctx, io.Reader) and a few dispatch helpers, executes on parallel decoder changes to accept io.Reader
  cmd/yammm/snapshot_info.go
  cmd/yammm/snapshot_info_test.go
  docs/API.md
  snapshot/decoder.go
  snapshot/doc.go
  snapshot/info.go
  snapshot/limit_reader.go
  snapshot/snapshot_test.go
Due: gofumpt, goimports

feat(snapshot): adds TmpSuffix constant and the WriteFile(path, data) atomic-write helper.
  docs/API.md
  snapshot/doc.go
  snapshot/snapshot_test.go
  snapshot/write.go
Due: gofumpt, goimports

feat(snapshot): adds ScanDir along with associated exports
  cmd/yammm/snapshot_info.go
  cmd/yammm/snapshot_info_test.go
  diag/code.go
  docs/API.md
  snapshot/doc.go
  snapshot/info.go
  snapshot/scan.go
  snapshot/scan_test.go
  snapshot/snapshottest/snapshottest.go
  snapshot/snapshottest/snapshottest_test.go
Due: gofumpt, goimports

feat(snapshot): add UpdateMetadata(ctx, data, newMeta, opts...) strict fast path along with Marshal Load fallback and benchmarking between the two
  cmd/yammm/snapshot.go
  cmd/yammm/snapshot_update_metadata.go
  cmd/yammm/snapshot_update_metadata_test.go
  docs/API.md
  snapshot/decoder.go
  snapshot/doc.go
  snapshot/marshal.go
  snapshot/snapshottest/snapshottest.go
  snapshot/snapshottest/snapshottest_test.go
  snapshot/testdata/updatemetadata/compact.ys
  snapshot/testdata/updatemetadata/indent2sp.ys
  snapshot/testdata/updatemetadata/indentTab.ys
  snapshot/testdata/updatemetadata/metadata.ys
  snapshot/update.go
  snapshot/update_bench_test.go
  snapshot/update_fuzz_test.go
  snapshot/update_test.go
  snapshot/wire.go
  snapshot/wire_test.go
Due: gofumpt, goimports

feat(snapshot): standardizes neo4j adapter surface internals and exports
  adapter/neo4j/builders.go
  adapter/neo4j/builders_test.go
  adapter/neo4j/doc.go
  adapter/neo4j/mutability.go
  adapter/neo4j/write.go
  docs/API.md
Due: gofumpt, goimports

feat(graph): extends UnresolvedEdge with property persistence, enables eventually consistent relationship writes
  docs/API.md
  graph/association_test.go
  graph/doc.go
  graph/duplicate.go
  graph/graph.go
  graph/import.go
  graph/rebuild.go
  snapshot/decoder.go
  snapshot/doc.go
  snapshot/goldenbytes_test.go
  snapshot/load.go
  snapshot/marshal.go
  snapshot/snapshot_test.go
  snapshot/snapshottest/snapshottest.go
  snapshot/testdata/unresolved_edge_props/fixture.json
  snapshot/version.go
  snapshot/version_test.go
  snapshot/wire.go
  snapshot/wire_test.go
Due: gofumpt, goimports

feat(schema): adds idempotent register, hash cache, and benchmark
  docs/API.md
  schema/benchutil_test.go
  schema/doc.go
  schema/load.go
  schema/load_options.go
  schema/load_test.go
  schema/registry.go
  schema/registry_test.go
Due: gofumpt, goimports

feat(diag): threads in ctx and bridges to slog
  diag/doc.go
  diag/issue.go
  diag/issue_test.go
  diag/withcontext.go
  diag/withcontext_test.go
  docs/API.md
Due: gofumpt, goimports

feat(graph): adds BatchAssembler
  claude-plugin/skills/yammm/references/api-pipeline.md
  docs/API.md
  graph/batch_assembler.go
  graph/batch_assembler_test.go
  graph/doc.go
  snapshot/snapshottest/build.go
  snapshot/snapshottest/build_test.go
Due: gofumpt, goimports

feat(instance): adds a instance-level schema-reflection builder
  docs/API.md
  instance/builder.go
  instance/builder_test.go
  instance/doc.go
  instance/schema_builder.go
  instance/schema_builder_bench_test.go
  instance/schema_builder_errors.go
  instance/schema_builder_helper_test.go
  instance/schema_builder_test.go
Due: gofumpt, goimports

hygiene(api): cleans up docs and dead surface
  README.md
  claude-plugin/README.md
  claude-plugin/skills/yammm/SKILL.md
  claude-plugin/skills/yammm/references/graph-traversal.md
  diag/withcontext_test.go
  doc.go
  docs/API.md
  graph/batch_assembler.go
  graph/walk/doc.go
  graph/walk/visitor.go
  graph/walk/walk_test.go
  graph/walk/walker.go
  instance/schema_builder.go
  instance/schema_builder_bench_test.go
Due: gofumpt, goimports

fix(header): temporarily replaces with local yammm to verify the header size cap fix
  snapshot/info.go
  snapshot/snapshot_test.go
Due: gofumpt, goimports

fix(header): bumps header size from 64KiB to 16MiB
  adapter/neo4j/write.go
  adapter/neo4j/write_test.go
  snapshot/snapshot_test.go
Due: gofumpt, goimports

chore(format): sweeps through and rectifies gofumpt issues
  adapter/json/write_test.go
  cmd/yammm-lsp/main.go
  cmd/yammm/snapshot_update_metadata_test.go
  diag/issue.go
  diag/withcontext.go
  docs/VERSIONING.md
  graph/graph.go
  graph/graph_test.go
  instance/internal/eval/evaluator.go
  instance/schema_builder_test.go
  instance/validator.go
  internal/trace/op.go
  lsp/internal/analysis/analysis.go
  lsp/internal/completion/complete.go
  lsp/internal/definition/definition.go
  lsp/internal/docstate/overlay.go
  lsp/internal/hover/hover.go
  lsp/internal/symbols/document.go
  lsp/internal/workspace/deps.go
  lsp/internal/workspace/markdown.go
  lsp/internal/workspace/workspace.go
  lsp/server.go
  lsp/sync_handlers.go
  schema/benchutil_test.go
  schema/hash_test.go
  snapshot/scan.go
  snapshot/scan_test.go
  snapshot/snapshottest/build.go
  snapshot/snapshottest/build_test.go
  snapshot/update_test.go
  snapshot/wire_test.go
Due: gofumpt, goimports

feat(coerce): updates and extends coerce to eliminate unchecked/converted sites
  .golangci.yml
  adapter/neo4j/coerce.go
  adapter/neo4j/coerce_test.go
  adapter/neo4j/testdata/edge_typed_props.yammm
  adapter/neo4j/write.go
  adapter/neo4j/write_test.go
  docs/API.md
  schema/hash.go
Due: yamlfmt, gofumpt, goimports

feat(diag): revises and slims diag surface
  adapter/csv/write_test.go
  adapter/json/adapter_test.go
  adapter/neo4j/helpers_test.go
  adapter/neo4j/write_test.go
  diag/collect.go
  diag/collect_test.go
  diag/doc.go
  diag/issue.go
  diag/issue_test.go
  diag/result.go
  diag/result_test.go
  diag/withcontext.go
  diag/withcontext_test.go
  docs/API.md
  docs/VERSIONING.md
  graph/batch_assembler.go
  graph/batch_assembler_test.go
  instance/validate_composition_test.go
  instance/validate_edge_test.go
  instance/validator_test.go
  lsp/internal/symbols/symbols_test.go
  schema/benchutil_test.go
  schema/builder_test.go
  schema/complete_test.go
  schema/load_test.go
  schema/type_test.go
  schema/validate_invariants_test.go
  snapshot/snapshottest/build_test.go
Due: gofumpt, goimports

feat(coerce): adjusts ParamType underlying to Constraint to simplify
  adapter/neo4j/coerce.go
  adapter/neo4j/coerce_test.go
  adapter/neo4j/write.go
  docs/API.md
  graph/batch_assembler_test.go
  schema/benchutil_test.go
  snapshot/snapshottest/build.go
Due: gofumpt, goimports

feat(coerce): drops kind replaces with constraint
  adapter/neo4j/coerce.go
  adapter/neo4j/coerce_test.go
  adapter/neo4j/write.go
  adapter/neo4j/write_test.go
  diag/doc.go
  docs/API.md
Due: gofumpt, goimports

feat(coerce): extends to cover Vector-typed values
  adapter/neo4j/coerce.go
  adapter/neo4j/coerce_test.go
  adapter/neo4j/write.go
  adapter/neo4j/write_test.go
  diag/collect_test.go
  docs/API.md
Due: gofumpt, goimports

feat(coerce): guards against raw cypher type-checking escape
  adapter/neo4j/coerce.go
  adapter/neo4j/coerce_test.go
  adapter/neo4j/write.go
  adapter/neo4j/write_test.go
  diag/withcontext_test.go
Due: gofumpt, goimports

feat(ident): adds an initialisms injection mechanism
  internal/ident/ident.go
  internal/ident/ident_test.go
Due: gofumpt, goimports

feat: guard the seven remaining ConstraintKind switches
  adapter/csv/coerce.go
  adapter/neo4j/constraints.go
  instance/internal/eval/checkers.go
  instance/internal/eval/checkers_test.go
  schema/complete.go
  schema/constraint.go
  schema/primarykey_test.go
Due: gofumpt, goimports

feat(gogen): adds gogen adapter api and cmd
  adapter/gogen/doc.go
  adapter/gogen/emit.go
  adapter/gogen/gogen.go
  adapter/gogen/gogen_test.go
  adapter/gogen/names.go
  adapter/gogen/names_test.go
  adapter/gogen/testdata/edge_datatype.go.golden
  adapter/gogen/testdata/edge_datatype.yammm
  adapter/gogen/testdata/full.go.golden
  adapter/gogen/testdata/full.yammm
  adapter/gogen/testdata/graph.go.golden
  adapter/gogen/testdata/graph.yammm
  adapter/gogen/testdata/graph_collision.go.golden
  adapter/gogen/testdata/graph_collision.yammm
  adapter/gogen/testdata/imports/common.yammm
  adapter/gogen/testdata/imports/inherit_common.yammm
  adapter/gogen/testdata/imports/inherit_main.go.golden
  adapter/gogen/testdata/imports/inherit_main.yammm
  adapter/gogen/testdata/imports/main.go.golden
  adapter/gogen/testdata/imports/main.yammm
  adapter/gogen/testdata/inheritance.go.golden
  adapter/gogen/testdata/inheritance.yammm
  adapter/gogen/testdata/inherited_edge.go.golden
  adapter/gogen/testdata/inherited_edge.yammm
  adapter/gogen/testdata/marker.yammm
  adapter/gogen/testdata/named.go.golden
  adapter/gogen/testdata/named.yammm
  adapter/gogen/testdata/relations.go.golden
  adapter/gogen/testdata/relations.yammm
  adapter/gogen/testdata/scalars.go.golden
  adapter/gogen/testdata/scalars.yammm
  adapter/gogen/testdata/shared_edge.go.golden
  adapter/gogen/testdata/shared_edge.yammm
  adapter/gogen/types.go
  adapter/gogen/types_test.go
  cmd/yammm/gen.go
  cmd/yammm/gen_test.go
  cmd/yammm/root.go
  cmd/yammm/testdata/county.yammm
Due: gofumpt, goimports

fix(gogen): adjusts wire 'Where' key to 'where'
  README.md
  adapter/gogen/emit.go
  adapter/gogen/gogen_test.go
  adapter/gogen/testdata/edge_datatype.go.golden
  adapter/gogen/testdata/full.go.golden
  adapter/gogen/testdata/graph.go.golden
  adapter/gogen/testdata/imports/collision_common.yammm
  adapter/gogen/testdata/imports/collision_main.go.golden
  adapter/gogen/testdata/imports/collision_main.yammm
  adapter/gogen/testdata/imports/diamond_base.yammm
  adapter/gogen/testdata/imports/diamond_left.yammm
  adapter/gogen/testdata/imports/diamond_main.go.golden
  adapter/gogen/testdata/imports/diamond_main.yammm
  adapter/gogen/testdata/imports/diamond_right.yammm
  adapter/gogen/testdata/imports/main.go.golden
  adapter/gogen/testdata/inherited_edge.go.golden
  adapter/gogen/testdata/initialisms.go.golden
  adapter/gogen/testdata/initialisms.yammm
  adapter/gogen/testdata/relations.go.golden
  adapter/gogen/testdata/shared_edge.go.golden
  cmd/yammm/gen_test.go
  cmd/yammm/testdata/session.yammm
  docs/API.md
Due: gofumpt, goimports

docs(versioning): add v0.5.0 policy entry for the gogen surface
  adapter/gogen/doc.go
  adapter/gogen/emit.go
  adapter/gogen/gogen_test.go
  adapter/gogen/testdata/edge_where_collision.go.golden
  adapter/gogen/testdata/edge_where_collision.yammm
  docs/API.md
  docs/VERSIONING.md
Due: gofumpt, goimports

feat(pk): tightens PK control flow
  .golangci.yml
  adapter/gogen/doc.go
  adapter/gogen/emit.go
  adapter/gogen/gogen_test.go
  adapter/gogen/testdata/composite_pk.go.golden
  adapter/gogen/testdata/composite_pk.yammm
  claude-plugin/skills/author-schema/SKILL.md
  claude-plugin/skills/review-schema/SKILL.md
  claude-plugin/skills/yammm/SKILL.md
  claude-plugin/skills/yammm/references/diagnostics.md
  claude-plugin/skills/yammm/references/dsl-syntax.md
  claude-plugin/skills/yammm/references/patterns.md
  claude-plugin/skills/yammm/references/type-system.md
  cmd/yammm/internal/cli/output.go
  cmd/yammm/snapshot_info.go
  cmd/yammm/snapshot_save.go
  diag/code.go
  docs/SPEC.md
  format/format_test.go
  lsp/helpers_test.go
  lsp/internal/analysis/analyzer_test.go
  lsp/server_test.go
  schema/builder_test.go
  schema/collision.go
  schema/complete.go
  schema/complete_test.go
  schema/cross_cycle_test.go
  schema/load_test.go
  schema/offset_semantics_test.go
  schema/primarykey_presence_test.go
  schema/type_test.go
  schema/validate_invariants_test.go
Due: yamlfmt, gofumpt, goimports

hygiene: updates VERSIONING
  docs/VERSIONING.md
Due: none

fix(inheritance): fixes the extends keyword flow in linearization, fixes confounding tests
  docs/VERSIONING.md
  schema/complete_test.go
  schema/extends_resolution_test.go
  schema/linearize.go
Due: gofumpt, goimports

fix(completion): tightens supertype resolution
  claude-plugin/skills/yammm/references/diagnostics.md
  schema/complete.go
  schema/linearize.go
  schema/primarykey_presence_test.go
Due: gofumpt, goimports

hygiene(docs): updates the doc.go files for adapter/ and adapter/gogen
  adapter/doc.go
  adapter/gogen/doc.go
Due: gofumpt, goimports

hygiene(docs): updates README
  README.md
Due: none

Path conditions:
  yamlfmt: any of: \.(yaml|yml)$
  gofumpt: any of: \.go$
  goimports: any of: \.go$
  go-mod-tidy: any of: ^go\.(mod|sum)$
