Repository simon-lentz/yammm: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamlfmt, gofumpt, goimports, go-mod-tidy

yamlfmt:
  name: yamlfmt
  description: This hook uses github.com/google/yamlfmt to format yaml files. Requires Go >1.18 to be installed.
  entry: yamlfmt
  language: golang

gofumpt:
  name: gofumpt
  entry: gofumpt
  language: system
  args:
  - -w

goimports:
  name: goimports
  entry: goimports
  language: system
  args:
  - -w

go-mod-tidy:
  name: go mod tidy
  entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && go mod tidy'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

feat(graph/walk): promotes graph walker
  graph/walk/doc.go
  graph/walk/visitor.go
  graph/walk/walk_logging_test.go
  graph/walk/walk_test.go
  graph/walk/walker.go
Due: gofumpt, goimports

feat(test): folds together tests that need not be separated
  graph/graph_logging_test.go
  graph/graph_test.go
  graph/walk/walk_logging_test.go
  graph/walk/walk_test.go
  instance/internal/eval/evaluator_logging_test.go
  instance/internal/eval/evaluator_test.go
  instance/ownership_test.go
  instance/path/parse_schema_test.go
  instance/path/parse_test.go
  instance/validator_test.go
  internal/immutable/concurrent_test.go
  internal/immutable/ownership_test.go
  internal/immutable/value_test.go
  schema/constraint_list_test.go
  schema/constraint_narrow_test.go
  schema/constraint_test.go
  schema/internal/complete/complete_test.go
  schema/internal/complete/invariant_inherit_test.go
  schema/internal/complete/narrowing_test.go
  schema/internal/complete/validate_invariants_test.go
  schema/property_narrow_test.go
  schema/property_test.go
Due: gofumpt, goimports

feat(diag): converts from OK() to Err() where it makes sense
  adapter/neo4j/adapter_test.go
  adapter/neo4j/constraints_test.go
  adapter/neo4j/helpers_test.go
  adapter/neo4j/labels_test.go
  adapter/neo4j/shape_test.go
  adapter/neo4j/write_test.go
  diag/doc.go
  doc.go
  graph/association_test.go
  graph/composed_test.go
  graph/concurrent_test.go
  graph/crossschema_test.go
  graph/doc.go
  graph/graph_test.go
  graph/ownership_test.go
Due: gofumpt, goimports

refactor: cleans up api surface and makes semantic improvements
  .golangci.yml
  adapter/json/doc.go
  adapter/json/write.go
  adapter/neo4j/constraints.go
  adapter/neo4j/helpers_test.go
  adapter/neo4j/write.go
  diag/detail.go
  diag/detail_test.go
  diag/doc.go
  diag/result.go
  e2e/spec/helpers_test.go
  graph/doc.go
  graph/graph.go
  graph/graph_test.go
  graph/key.go
  graph/result.go
  graph/testhelpers_test.go
  graph/walk/walker.go
  instance/internal/eval/checkers_test.go
  instance/validate_composition.go
  instance/validate_composition_test.go
  instance/validate_edge.go
  instance/validator_test.go
  schema/build/builder.go
  schema/build/builder_test.go
  schema/constraint.go
  schema/constraint_test.go
  schema/expr/doc.go
  schema/expr/expr_test.go
  schema/internal/complete/complete_test.go
  schema/internal/exprcomp/builtins.go
  schema/internal/exprcomp/compile.go
  schema/internal/exprcomp/doc.go
  schema/internal/exprcomp/exprcomp_test.go
  schema/internal/exprcomp/visitor.go
  schema/internal/parse/parser.go
  schema/load/load.go
  schema/load/load_test.go
  schema/load/options.go
  schema/property_test.go
Due: yamlfmt, gofumpt, goimports

hygiene(docs): fixes inline comments and documentation
  adapter/neo4j/shape.go
  adapter/neo4j/write.go
  doc.go
  instance/doc.go
Due: gofumpt, goimports

feat(schema): tightens mutation surface
  instance/options_test.go
  instance/validate_composition_test.go
  instance/validate_edge_test.go
  instance/validator_test.go
  lsp/helpers_test.go
  lsp/internal/completion/complete_test.go
  lsp/internal/definition/resolve_test.go
  lsp/internal/hover/render_test.go
  lsp/internal/symbols/symbols_test.go
  schema/build/builder.go
  schema/datatype.go
  schema/datatype_test.go
  schema/import.go
  schema/import_test.go
  schema/internal/complete/collision.go
  schema/internal/complete/complete.go
  schema/internal/complete/linearize.go
  schema/internals.go
  schema/invariant.go
  schema/invariant_test.go
  schema/load/load.go
  schema/property.go
  schema/property_test.go
  schema/registry_test.go
  schema/relation.go
  schema/relation_test.go
  schema/schema.go
  schema/schema_test.go
  schema/type.go
  schema/type_test.go
  schema/typeref_test.go
Due: gofumpt, goimports

feat(api): makes small but needed breaking changes
  e2e/spec/validation_test.go
  instance/failure.go
  instance/failure_test.go
  instance/internal/eval/checkers_test.go
  instance/validate_composition_test.go
  instance/validate_edge_test.go
  instance/validator_test.go
  schema/build/builder.go
  schema/constraint.go
  schema/constraint_test.go
  schema/internal/complete/complete.go
  schema/internal/complete/cross_cycle.go
  schema/internal/parse/parser.go
  schema/load/load.go
  schema/load/load_test.go
  schema/registry.go
  schema/registry_test.go
Due: gofumpt, goimports

feat(immutable): promotes and tightens
  adapter/json/write.go
  adapter/json/write_test.go
  graph/association_test.go
  graph/composed_test.go
  graph/concurrent_fuzz_test.go
  graph/concurrent_test.go
  graph/crossschema_test.go
  graph/edge.go
  graph/graph.go
  graph/graph_test.go
  graph/instance.go
  graph/key.go
  graph/testhelpers_test.go
  graph/walk/visitor.go
  graph/walk/walk_test.go
  immutable/doc.go
  immutable/key.go
  immutable/key_test.go
  immutable/map.go
  immutable/map_test.go
  immutable/properties.go
  immutable/properties_test.go
  immutable/slice.go
  immutable/slice_test.go
  immutable/value.go
  immutable/value_test.go
  instance/internal/eval/builtins.go
  instance/internal/eval/evaluator.go
  instance/internal/eval/scope.go
  instance/internal/eval/scope_test.go
  instance/valid.go
  instance/valid_test.go
  instance/validate_composition.go
  instance/validate_edge.go
  instance/validator.go
Due: gofumpt, goimports

feat(adapter): threads in ctx
  adapter/json/adapter_test.go
  adapter/json/parse.go
  adapter/json/write.go
  adapter/json/write_test.go
  adapter/neo4j/adapter_test.go
  adapter/neo4j/constraints.go
  adapter/neo4j/constraints_test.go
  adapter/neo4j/labels.go
  adapter/neo4j/labels_test.go
  adapter/neo4j/shape.go
  adapter/neo4j/shape_test.go
  adapter/neo4j/write.go
  adapter/neo4j/write_test.go
  e2e/claude-plugin/helpers_test.go
  e2e/spec/adapter_test.go
  e2e/spec/helpers_test.go
  e2e/spec/validation_test.go
Due: gofumpt, goimports

feat(opts): adds two-tier structures
  graph/result.go
  graph/walk/doc.go
  instance/options.go
  instance/validator.go
Due: gofumpt, goimports

hygiene(docs): removes tier testing
  adapter/doc.go
  adapter/neo4j/doc.go
  diag/doc.go
  doc.go
  immutable/doc.go
  instance/doc.go
  internal/hygiene/doc.go
  internal/hygiene/imports_test.go
  internal/trace/doc.go
  location/doc.go
  location/registry.go
Due: gofumpt, goimports

feat(options): standardizes option types across the board
  adapter/json/adapter.go
  diag/renderer.go
  e2e/spec/validation_test.go
  immutable/key.go
  immutable/map.go
  immutable/properties.go
  immutable/slice.go
  immutable/value.go
  instance/options.go
  instance/options_test.go
  instance/validator.go
Due: gofumpt, goimports

feat(adapter): extends with csv, aligns implementations, cleans up surface
  .golangci.yml
  adapter/csv/adapter.go
  adapter/csv/coerce.go
  adapter/csv/coerce_test.go
  adapter/csv/doc.go
  adapter/csv/errors.go
  adapter/csv/parse.go
  adapter/csv/parse_test.go
  adapter/csv/testdata/basic.yammm
  adapter/csv/testdata/with_relations.yammm
  adapter/csv/write.go
  adapter/csv/write_test.go
  adapter/doc.go
  adapter/json/adapter.go
  adapter/json/adapter_test.go
  adapter/json/errors.go
  adapter/json/parse.go
  adapter/json/write.go
  adapter/json/write_test.go
  adapter/neo4j/constraints.go
  adapter/neo4j/diff.go
  adapter/neo4j/diff_test.go
  adapter/neo4j/doc.go
  adapter/neo4j/infer.go
  adapter/neo4j/infer_test.go
  adapter/neo4j/introspect.go
  adapter/neo4j/introspect_test.go
  adapter/neo4j/labels.go
  adapter/neo4j/write.go
  adapter/neo4j/write_test.go
  e2e/claude-plugin/helpers_test.go
  e2e/spec/adapter_test.go
  e2e/spec/helpers_test.go
  e2e/spec/validation_test.go
  schema/constraint.go
Due: yamlfmt, gofumpt, goimports

fix(plugin): removes claude plugin from main, will live on feature branch for time being
  .claude-plugin/marketplace.json
  claude-plugin/.claude-plugin/plugin.json
  claude-plugin/README.md
  claude-plugin/agents/schema-author.md
  claude-plugin/agents/schema-reviewer.md
  claude-plugin/commands/new-schema.md
  claude-plugin/commands/setup-lsp.md
  claude-plugin/hooks/hooks.json
  claude-plugin/settings-template.local.md
  claude-plugin/skills/yammm-dsl/SKILL.md
  claude-plugin/skills/yammm-dsl/references/expressions.md
  claude-plugin/skills/yammm-dsl/references/patterns.md
  claude-plugin/skills/yammm-dsl/references/type-system.md
Due: none

fix(spec): fixes a spec function calling inconsistency
  docs/SPEC.md
Due: none

feat(snapshot): completes preliminary/enabling work for snapshot implementation
  .golangci.yml
  adapter/csv/write.go
  adapter/json/parse.go
  adapter/json/write.go
  graph/association_test.go
  graph/duplicate.go
  graph/duplicate_test.go
  graph/instance.go
  graph/result.go
  graph/result_test.go
  graph/walk/walker.go
  immutable/normalize.go
  immutable/normalize_test.go
  instance/builder.go
  instance/builder_test.go
  instance/doc.go
  instance/options_test.go
  instance/raw.go
  instance/raw_test.go
  instance/valid.go
  instance/valid_test.go
  instance/validate_composition.go
  instance/validate_edge.go
  instance/validator.go
  instance/validator_test.go
  location/path/builder.go
  location/path/builder_test.go
  location/path/doc.go
  location/path/parse.go
  location/path/parse_fuzz_test.go
  location/path/parse_test.go
  location/path/pkfield.go
  location/provenance.go
  location/provenance_test.go
  schema/hash.go
  schema/hash_test.go
  schema/testdata/hash_vectors.json
Due: yamlfmt, gofumpt, goimports

feat(snapshot): adds the snapshot package
  diag/code.go
  diag/code_test.go
  diag/detail.go
  graph/rebuild.go
  graph/rebuild_test.go
  snapshot/decoder.go
  snapshot/doc.go
  snapshot/info.go
  snapshot/load.go
  snapshot/marshal.go
  snapshot/option.go
  snapshot/snapshot_test.go
  snapshot/snapshottest/snapshottest.go
  snapshot/verify.go
  snapshot/wire.go
Due: gofumpt, goimports

feat(snapshot): adds the --into flag
  cmd/yammm/export.go
  cmd/yammm/export_test.go
  cmd/yammm/internal/cli/data.go
  cmd/yammm/internal/cli/data_test.go
  cmd/yammm/root.go
  cmd/yammm/snapshot.go
  cmd/yammm/snapshot_info.go
  cmd/yammm/snapshot_info_test.go
  cmd/yammm/snapshot_save.go
  cmd/yammm/snapshot_save_test.go
  cmd/yammm/snapshot_verify.go
  cmd/yammm/snapshot_verify_test.go
  graph/import.go
  graph/import_test.go
Due: gofumpt, goimports

feat(snapshot): adds e2e testing
  e2e/spec/helpers_test.go
  e2e/spec/snapshot_adapter_test.go
  e2e/spec/snapshot_import_test.go
  e2e/spec/snapshot_negative_test.go
  e2e/spec/snapshot_test.go
  e2e/spec/testdata/snapshot/assoc_with_props.yammm
  e2e/spec/testdata/snapshot/assoc_with_props_data.json
  e2e/spec/testdata/snapshot/comprehensive.yammm
  e2e/spec/testdata/snapshot/comprehensive_data.json
  e2e/spec/testdata/snapshot/imports/data.json
  e2e/spec/testdata/snapshot/imports/main.yammm
  e2e/spec/testdata/snapshot/imports/parts.yammm
  e2e/spec/testdata/snapshot/inheritance.yammm
  e2e/spec/testdata/snapshot/inheritance_data.json
  e2e/spec/testdata/snapshot/required_assoc.yammm
  e2e/spec/testdata/snapshot/required_assoc_data.json
  e2e/spec/testdata/snapshot/simple.yammm
  e2e/spec/testdata/snapshot/simple_data.json
Due: gofumpt, goimports

feat(snapshot): adds e2e testing
  adapter/neo4j/adapter_test.go
  diag/result_test.go
  lsp/internal/completion/context.go
  snapshot/snapshot_test.go
Due: gofumpt, goimports

feat(snapshot): updates docs
  README.md
  docs/SPEC.md
Due: none

feat(snapshot): updates docs
  docs/SPEC.md
Due: none

hygiene(docs): aligns SPEC
  docs/SPEC.md
Due: none

hygiene(docs): removes docs from gitignore
  .gitignore
Due: none

feat(docs): splits SPEC.md into SPEC.md and API.md
  README.md
  docs/API.md
  docs/SPEC.md
  e2e/spec/adapter_test.go
  e2e/spec/diagnostics_test.go
  e2e/spec/graph_test.go
  e2e/spec/loading_test.go
  e2e/spec/testdata/graph/basic.yammm
  e2e/spec/testdata/graph/with_association.yammm
  e2e/spec/testdata/graph/with_composition.yammm
  e2e/spec/testdata/graph/with_required.yammm
  e2e/spec/validation_test.go
Due: gofumpt, goimports

feat(docs): updates readme
  README.md
Due: none

hygiene(docs): update README with snapshot persistence quick start content
  README.md
Due: none

feat(docs): updates spec, adds machine testing of spec snippets
  docs/SPEC.md
  docs/spec_test.go
Due: gofumpt, goimports

feat(plugin): reimplements the full plugin with revised and simplified architecture
  claude-plugin/.claude-plugin/plugin.json
  claude-plugin/.lsp.json
  claude-plugin/README.md
  claude-plugin/hooks/check-env.sh
  claude-plugin/hooks/hooks.json
  claude-plugin/skills/author-schema/SKILL.md
  claude-plugin/skills/author-schema/evals/trigger-queries.md
  claude-plugin/skills/review-schema/SKILL.md
  claude-plugin/skills/review-schema/evals/trigger-queries.md
  claude-plugin/skills/setup/SKILL.md
  claude-plugin/skills/setup/evals/trigger-queries.md
  claude-plugin/skills/yammm/SKILL.md
  claude-plugin/skills/yammm/evals/trigger-queries.md
  claude-plugin/skills/yammm/examples/modeling-patterns.md
  claude-plugin/skills/yammm/examples/schema-improvements.md
  claude-plugin/skills/yammm/references/adapters.md
  claude-plugin/skills/yammm/references/api-pipeline.md
  claude-plugin/skills/yammm/references/cli.md
  claude-plugin/skills/yammm/references/common-mistakes.md
  claude-plugin/skills/yammm/references/diagnostics.md
  claude-plugin/skills/yammm/references/dsl-syntax.md
  claude-plugin/skills/yammm/references/expressions.md
  claude-plugin/skills/yammm/references/graph-traversal.md
  claude-plugin/skills/yammm/references/patterns.md
  claude-plugin/skills/yammm/references/quick-reference.md
  claude-plugin/skills/yammm/references/type-system.md
  diag/code_documented_test.go
Due: gofumpt, goimports

hygiene(comments): trims out old potentially misleading, redundant or not useful content
  diag/builder_test.go
  diag/code_documented_test.go
  format/blank.go
  graph/graph_test.go
  immutable/key_test.go
  immutable/map_test.go
  immutable/normalize.go
  immutable/slice_test.go
  instance/internal/eval/evaluator_test.go
  instance/validate_composition.go
  instance/validate_composition_test.go
  instance/validate_edge.go
  instance/validate_edge_test.go
  instance/validator_test.go
  internal/ident/ident_test.go
  internal/trace/trace_test.go
  internal/value/classify.go
  internal/value/classify_test.go
  internal/value/doc.go
  internal/value/order_test.go
  location/errors_test.go
  location/registry_test.go
  lsp/internal/markdown/markdown.go
  schema/complete_test.go
  schema/cross_cycle.go
  schema/load_test.go
  schema/parse_test.go
  schema/registry_test.go
  schema/relation_test.go
  schema/type_test.go
  snapshot/info.go
Due: gofumpt, goimports

hygiene(comments): trims out old potentially misleading, redundant or not useful content
  adapter/json/write_test.go
  adapter/neo4j/constraints_test.go
  adapter/neo4j/write.go
  adapter/neo4j/write_test.go
  cmd/yammm/snapshot_save_test.go
  diag/collector_test.go
  format/format_test.go
  graph/graph_test.go
  instance/internal/eval/builtins.go
  instance/internal/eval/builtins_test.go
  instance/internal/eval/checkers_test.go
  instance/internal/eval/evaluator.go
  instance/internal/eval/evaluator_test.go
  instance/valid_test.go
  instance/validate_composition_test.go
  instance/validate_edge_test.go
  instance/validator_test.go
  internal/ident/ident.go
  internal/value/order_test.go
  location/path/parse_test.go
  lsp/internal/lsputil/posconv_test.go
  lsp/internal/markdown/markdown_test.go
  lsp/internal/protocol/protocol_test.go
  lsp/internal/workspace/workspace_test.go
  lsp/server_test.go
  schema/builder_test.go
  schema/constraint_test.go
  schema/hash_test.go
  schema/internal/exprcomp/exprcomp_test.go
  schema/load_test.go
  schema/parser.go
  schema/parser_coverage_test.go
  schema/property_test.go
  schema/relation_test.go
  schema/schema_test.go
  schema/sources_test.go
  schema/type_test.go
  schema/typeref_test.go
  snapshot/snapshot_test.go
Due: gofumpt, goimports

hygiene(release): makes minor cleanups to build process
  .github/workflows/release.yml
  claude-plugin/skills/setup/SKILL.md
  claude-plugin/skills/yammm/references/cli.md
Due: yamlfmt

Path conditions:
  yamlfmt: any of: \.(yaml|yml)$
  gofumpt: any of: \.go$
  goimports: any of: \.go$
  go-mod-tidy: any of: ^go\.(mod|sum)$
