Repository simon-lentz/yammm: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamlfmt, gofumpt, goimports, go-mod-tidy

yamlfmt:
  name: yamlfmt
  description: This hook uses github.com/google/yamlfmt to format yaml files. Requires Go >1.18 to be installed.
  entry: yamlfmt
  language: golang

gofumpt:
  name: gofumpt
  entry: gofumpt
  language: system
  args:
  - -w

goimports:
  name: goimports
  entry: goimports
  language: system
  args:
  - -w

go-mod-tidy:
  name: go mod tidy
  entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && go mod tidy'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

feat(csv,json,graph): splits one CSV diagnostic code into three, marks every writer refusal with the class a caller matches, and refuses a type identity the schema cannot resolve
  adapter/csv/adapter.go
  adapter/csv/delimiter_test.go
  adapter/csv/diagnostic_code_test.go
  adapter/csv/doc.go
  adapter/csv/errors.go
  adapter/csv/list_rendering_test.go
  adapter/csv/listsep.go
  adapter/csv/parse.go
  adapter/csv/refusal_sentinel_test.go
  adapter/csv/structure_test.go
  adapter/csv/write.go
  adapter/json/doc.go
  adapter/json/errors.go
  adapter/json/refusal_sentinel_test.go
  adapter/json/write.go
  claude-plugin/skills/yammm/references/adapters.md
  claude-plugin/skills/yammm/references/diagnostics.md
  cmd/yammm/internal/cli/data_typecolumn_test.go
  docs/API.md
  docs/SPEC.md
  docs/VERSIONING.md
  graph/rebuild.go
  graph/unresolvable_identity_test.go
Due: gofumpt, goimports

fix(csv,json): refuses four snapshot shapes neither writer could round-trip, one of which the CSV writer silently retargeted, and reads a Float as written in every kind
  adapter/csv/adapter.go
  adapter/csv/canonical_test.go
  adapter/csv/coerce.go
  adapter/csv/doc.go
  adapter/csv/float_coercion_test.go
  adapter/csv/parse.go
  adapter/csv/refusal_sentinel_test.go
  adapter/csv/relation_shapes_test.go
  adapter/csv/write.go
  adapter/doc.go
  adapter/internal/constraintof/constraintof.go
  adapter/internal/constraintof/constraintof_test.go
  adapter/internal/constraintof/doc.go
  adapter/json/canonical_test.go
  adapter/json/doc.go
  adapter/json/errors.go
  adapter/json/float_indicator_test.go
  adapter/json/internal/doc.go
  adapter/json/null_and_map_test.go
  adapter/json/parse.go
  adapter/json/refusal_sentinel_test.go
  adapter/json/relation_shapes_test.go
  adapter/json/testdata/marshal_float_kinds.golden
  adapter/json/write.go
  adapter/json/write_test.go
  docs/API.md
  docs/VERSIONING.md
Due: gofumpt, goimports

test(jschema,gogen): runs jschema's self-check through a finish step a test drives over a built document, and fails an -update run that rewrote the compiled temporal fixture
  adapter/gogen/roundtrip_test.go
  adapter/jschema/jschema.go
  adapter/jschema/jschema_test.go
Due: gofumpt, goimports

feat(markdown): reads the emitted document with a CommonMark parser and slugs a heading by GitHub's word-class rule
  adapter/doc.go
  adapter/markdown/addressing_test.go
  adapter/markdown/commonmark.go
  adapter/markdown/doc.go
  adapter/markdown/markdown.go
  adapter/markdown/markdown_test.go
  adapter/markdown/render.go
  adapter/markdown/render_test.go
  claude-plugin/skills/yammm/references/adapters.md
  docs/API.md
  docs/VERSIONING.md
  go.mod
  go.sum
Due: gofumpt, goimports, go-mod-tidy

fix(snapshot,schema,gogen): revalidation judges a number by the document's text, the Builder resolves every alias by name, and an inline Enum inside a List is a named type at every depth
  adapter/gogen/doc.go
  adapter/gogen/emit.go
  adapter/gogen/field_types_test.go
  adapter/gogen/gogen_test.go
  adapter/gogen/names.go
  adapter/gogen/temporal.go
  adapter/gogen/testdata/inline_enum_list.go.golden
  adapter/gogen/testdata/inline_enum_list.yammm
  docs/API.md
  docs/VERSIONING.md
  internal/parse/testdata/golden/valid/adapter/gogen/testdata/inline_enum_list.yammm.golden
  internal/parse/testdata/golden/valid_partition.golden
  schema/builder.go
  schema/builder_constraint_fault_test.go
  schema/constraint.go
  snapshot/decode.go
  snapshot/revalidation_test.go
Due: gofumpt, goimports

fix(scripts,scripttest,doclint): hold every gate script to the module's toolchain, harden the mutation harness, and tighten the code-name gate
  .golangci.yml
  claude-plugin/hooks/check-env.sh
  diag/code_documented_test.go
  docs/codes_test.go
  internal/doclint/codes.go
  internal/doclint/codes_test.go
  internal/doclint/doc.go
  internal/doclint/doclint_test.go
  internal/doclint/repository_vars_test.go
  internal/doclint/testdata/codefixture/README.md
  internal/scripttest/fixture_test.go
  internal/scripttest/lintconfig_sh_test.go
  internal/scripttest/mutate_sh_test.go
  internal/scripttest/repository_vars_test.go
  internal/scripttest/run_mutants_sh_test.go
  internal/scripttest/toolchain_sh_test.go
  internal/scripttest/wiring_test.go
  scripts/gomodtidy.sh
  scripts/lintconfig.sh
  scripts/mutate.sh
  scripts/run_mutants.sh
  scripts/toolchain.sh
Due: yamlfmt, gofumpt, goimports

fix(location,schema,gogen): one key rule under a synthetic root on every host
  adapter/gogen/doc.go
  adapter/gogen/emit.go
  adapter/gogen/key_rule_test.go
  adapter/gogen/sourcekey_test.go
  claude-plugin/skills/yammm/references/api-pipeline.md
  docs/API.md
  docs/VERSIONING.md
  location/source_id.go
  location/synthetic_key_test.go
  schema/collision.go
  schema/complete.go
  schema/doc.go
  schema/load.go
  schema/load_options.go
  schema/schema.go
  schema/synthetic_root_test.go
Due: gofumpt, goimports

ci(workflows,scripttest): pins every runner to its image's OS release and refuses a job that can run on a -latest label, reading each matrix as GitHub expands it
  .github/workflows/ci.yaml
  .github/workflows/publish_vscode.yml
  .github/workflows/release.yml
  .github/workflows/yammm_test.yml
  internal/scripttest/wiring_test.go
Due: yamlfmt, gofumpt, goimports

feat(instance,csv): a CSV row claims its members by the validator's own decision, a number cell is a JSON literal, and no reader failure is lost
  adapter/csv/coerce.go
  adapter/csv/columns.go
  adapter/csv/doc.go
  adapter/csv/edge_group_test.go
  adapter/csv/empty_cell_test.go
  adapter/csv/errors.go
  adapter/csv/json_equivalence_property_test.go
  adapter/csv/json_equivalence_rows_test.go
  adapter/csv/number_grammar_test.go
  adapter/csv/number_literal_test.go
  adapter/csv/parse.go
  adapter/csv/read_failure_test.go
  adapter/csv/shadowed_group_shape_test.go
  adapter/csv/type_column_test.go
  claude-plugin/skills/yammm/references/adapters.md
  claude-plugin/skills/yammm/references/diagnostics.md
  docs/API.md
  docs/SPEC.md
  docs/VERSIONING.md
  instance/claims.go
  instance/claims_test.go
  instance/errors.go
  instance/validate_edge.go
  instance/validator.go
Due: gofumpt, goimports

fix(scripts,scripttest): stop a signalled mutation run's workers with everything they started, keep a kill's test output, and leave an out directory inside the checkout out of every copy
  internal/scripttest/mutate_sh_test.go
  internal/scripttest/run_mutants_sh_test.go
  internal/scripttest/run_mutants_signal_unix_test.go
  scripts/mutate.sh
  scripts/run_mutants.sh
Due: gofumpt, goimports

feat(cli,instance): a data command judges the document it reads, snapshot save reads its files through the one pipeline, and every data usage error comes before the first read
  adapter/json/doc.go
  adapter/json/provenance_test.go
  claude-plugin/skills/yammm/references/cli.md
  cmd/yammm/check.go
  cmd/yammm/diagnostics_test.go
  cmd/yammm/document_verdict_test.go
  cmd/yammm/export.go
  cmd/yammm/gen.go
  cmd/yammm/help_text_test.go
  cmd/yammm/internal/cli/data.go
  cmd/yammm/internal/cli/document_verdict.go
  cmd/yammm/internal/cli/document_verdict_test.go
  cmd/yammm/load.go
  cmd/yammm/pipeline.go
  cmd/yammm/snapshot_save.go
  diag/code.go
  docs/API.md
  docs/VERSIONING.md
  instance/primary_key_of_test.go
  instance/validate_edge.go
  instance/validator.go
  instance/validator_test.go
Due: gofumpt, goimports

test(cli,location): derive a link target's file, a name that is not UTF-8 and a quoted name per host, so the path-rule tests hold on Windows
  cmd/yammm/internal/cli/staged_directory_test.go
  cmd/yammm/write_host_path_test.go
  location/host_path_test.go
Due: gofumpt, goimports

fix(scripts): read every byte a test prints, so a byte that is not UTF-8 stops no mutation worker and drops no line from a kill's log, and report a worker that stopped before its first verdict
  internal/scripttest/mutate_sh_test.go
  internal/scripttest/run_mutants_sh_test.go
  scripts/mutate.sh
  scripts/run_mutants.sh
Due: gofumpt, goimports

fix(cli): write through by name only a descriptor path, judged by the directory the kernel reaches, so a file under /dev/shm is replaced and every Linux procfs descriptor table continues its stream
  claude-plugin/skills/yammm/references/cli.md
  cmd/yammm/internal/cli/host_path.go
  cmd/yammm/internal/cli/host_path_test.go
  cmd/yammm/internal/cli/write.go
  cmd/yammm/internal/cli/write_linux.go
  cmd/yammm/internal/cli/write_other.go
  cmd/yammm/internal/cli/write_target_test.go
  docs/VERSIONING.md
Due: gofumpt, goimports

fix(schema,cli): open an explicit module root before the load and refuse one that is not a directory, so no load blocks on a FIFO root, and make help and completion refuse what they cannot answer
  claude-plugin/skills/yammm/references/cli.md
  cmd/yammm/exit_rule_test.go
  cmd/yammm/main.go
  cmd/yammm/operand_exit_test.go
  cmd/yammm/root.go
  docs/API.md
  docs/VERSIONING.md
  schema/explicit_module_root_test.go
  schema/explicit_module_root_unix_test.go
  schema/load.go
  schema/load_options.go
Due: gofumpt, goimports

fix(ci): adds test summary JSON
  .github/workflows/yammm_test.yml
  internal/scripttest/fixture_test.go
  internal/scripttest/test_sh_test.go
  internal/scripttest/wiring_test.go
  internal/testsummary/durations_test.go
  internal/testsummary/main.go
  internal/testsummary/main_test.go
  scripts/test.sh
Due: yamlfmt, gofumpt, goimports

fix(ci): speeds up CLI test group
  cmd/yammm/internal/cli/host_path_test.go
  cmd/yammm/internal/cli/staged_directory_test.go
Due: gofumpt, goimports

docs(csv,json,neo4j,jschema): the adapter documents state what the code does, a refused CSV delimiter is named by its value, and a JSON value that refuses to spell itself is refused as the class
  adapter/csv/adapter.go
  adapter/csv/delimiter_test.go
  adapter/csv/diagnostic_code_test.go
  adapter/csv/doc.go
  adapter/csv/errors.go
  adapter/csv/write.go
  adapter/internal/refusal/doc.go
  adapter/jschema/doc.go
  adapter/jschema/pattern.go
  adapter/json/doc.go
  adapter/json/refusal_sentinel_test.go
  adapter/json/write.go
  adapter/neo4j/adapter.go
  adapter/neo4j/constraints.go
  adapter/neo4j/diff_indexes.go
  adapter/neo4j/doc.go
  adapter/neo4j/infer.go
  claude-plugin/skills/yammm/references/adapters.md
  claude-plugin/skills/yammm/references/cli.md
  cmd/yammm/neo4j_flags.go
  cmd/yammm/testdata/script/gen.txtar
  docs/API.md
  docs/SPEC.md
  docs/VERSIONING.md
Due: gofumpt, goimports

feat: updates VERSIONING
  docs/VERSIONING.md
Due: none

fix(scripts,scripttest): read a mutant's run that ran out of time as TIMEOUT, not a kill, and take the verdict run's limit from MUTATE_TIMEOUT
  internal/scripttest/mutate_sh_test.go
  internal/scripttest/run_mutants_sh_test.go
  scripts/mutate.sh
  scripts/run_mutants.sh
Due: gofumpt, goimports

feat(doclint): check every documented yammm invocation against the CLI's command tree
  cmd/yammm/documented_invocations_test.go
  go.mod
  internal/doclint/doc.go
  internal/doclint/invocations.go
  internal/doclint/invocations_test.go
  internal/doclint/load.go
Due: gofumpt, goimports, go-mod-tidy

feat(graph): merge a duplicate key's association records with AddOrMerge and AddValidOrMerge, and record a failed BatchAssembler.Add in the snapshot's diagnostics
  claude-plugin/skills/yammm/references/diagnostics.md
  diag/code.go
  docs/API.md
  docs/SPEC.md
  docs/VERSIONING.md
  graph/batch_assembler.go
  graph/batch_assembler_test.go
  graph/doc.go
  graph/graph.go
  graph/import.go
  graph/merge.go
  graph/merge_internal_test.go
  graph/merge_test.go
  graph/result.go
  snapshot/marshal.go
Due: gofumpt, goimports

test(doclint,scripttest): the module's tests pass from a module zip
  go.mod
  internal/doclint/codes_test.go
  internal/doclint/comment_test.go
  internal/doclint/deps_test.go
  internal/doclint/doclint_test.go
  internal/doclint/load_tracked_tree_test.go
  internal/doclint/repository_vars_test.go
  internal/doclint/stored_fixture_test.go
  internal/doclint/testdata/codefixture/go.mod.fixture
  internal/doclint/testdata/commentfixture/go.mod.fixture
  internal/doclint/testdata/depfixture/go.mod.fixture
  internal/doclint/testdata/fixture/go.mod.fixture
  internal/doclint/testdata/layoutfixture/go.mod.fixture
  internal/doclint/testdata/layoutfixture/v2/go.mod.fixture
  internal/scripttest/fixture_test.go
  internal/scripttest/race_skip_test.go
  internal/scripttest/repository_vars_test.go
  internal/scripttest/wiring_test.go
  repo_hygiene_test.go
Due: gofumpt, goimports, go-mod-tidy

feat(graph): merge a duplicate key's association records with AddOrMerge and AddValidOrMerge, record a failed BatchAssembler.Add in the snapshot's diagnostics, and release v0.21.1
  .github/workflows/ci.yaml
  .github/workflows/publish_vscode.yml
  .github/workflows/release.yml
  .github/workflows/yammm_test.yml
  claude-plugin/.claude-plugin/plugin.json
  diag/code.go
  docs/API.md
  docs/SPEC.md
  docs/VERSIONING.md
  graph/batch_assembler.go
  graph/batch_assembler_test.go
  graph/doc.go
  graph/duplicate.go
  graph/graph.go
  graph/import.go
  graph/instance.go
  graph/merge.go
  graph/merge_internal_test.go
  graph/merge_test.go
  graph/result.go
  lsp/editors/vscode/package-lock.json
  lsp/editors/vscode/package.json
  snapshot/update.go
Due: yamlfmt, gofumpt, goimports

fix(graph): refuse a merge with one E_GRAPH_CARDINALITY for each (one) association it would overfill, in relation-name order, name the method in a nil instance's message, and record v0.21.1
  claude-plugin/.claude-plugin/plugin.json
  diag/code.go
  docs/API.md
  docs/VERSIONING.md
  graph/batch_assembler.go
  graph/batch_assembler_test.go
  graph/doc.go
  graph/duplicate.go
  graph/graph.go
  graph/merge.go
  graph/merge_test.go
  graph/result.go
  lsp/editors/vscode/package-lock.json
  lsp/editors/vscode/package.json
Due: gofumpt, goimports

feat(testsummary,scripts): list the five packages go test timed longest in the test summary
  internal/scripttest/test_sh_test.go
  internal/testsummary/main.go
  internal/testsummary/slowest_test.go
  scripts/test.sh
Due: gofumpt, goimports

test(graph): hold a snapshot taken beside a merge to whole listings, and resume from it through the wire
  graph/merge_test.go
Due: gofumpt, goimports

docs: updates versioning
  docs/VERSIONING.md
Due: none

Path conditions:
  yamlfmt: any of: \.(yaml|yml)$
  gofumpt: any of: \.go$
  goimports: any of: \.go$
  go-mod-tidy: any of: ^go\.(mod|sum)$
