Repository simon-lentz/yammm: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamlfmt, gofumpt, goimports, go-mod-tidy

yamlfmt:
  name: yamlfmt
  description: This hook uses github.com/google/yamlfmt to format yaml files. Requires Go >1.18 to be installed.
  entry: yamlfmt
  language: golang

gofumpt:
  name: gofumpt
  entry: gofumpt
  language: system
  args:
  - -w

goimports:
  name: goimports
  entry: goimports
  language: system
  args:
  - -w

go-mod-tidy:
  name: go mod tidy
  entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && go mod tidy'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

test: adds group 7 instruments
  .github/workflows/ci.yaml
  .github/workflows/release.yml
  .github/workflows/yammm_test.yml
  .pre-commit-config.yaml
  Makefile
  scripts/test.sh
  scripts/vet.sh
Due: yamlfmt

fix: updates and revises group 7 instruments
  cmd/yammm/internal/cli/write_target_test.go
  cmd/yammm/internal/cli/write_test.go
  cmd/yammm/snapshot_save_diagnostics_test.go
  cmd/yammm/testdata/script/export.txtar
  cmd/yammm/write_test.go
  internal/doclint/comment_test.go
  internal/doclint/deps_test.go
  internal/doclint/doclint_test.go
  internal/yammmtest/hostpath.go
  internal/yammmtest/hostpath_test.go
  lsp/internal/analysis/analyzer_test.go
  lsp/internal/hover/render_test.go
  lsp/internal/lsputil/uri_test.go
  lsp/internal/markdown/markdown_test.go
  lsp/internal/workspace/moduleroot_test.go
  lsp/internal/workspace/workspace_test.go
  lsp/server_test.go
  schema/builder_test.go
  schema/discover_test.go
  schema/import_diag_test.go
  schema/load_test.go
  snapshot/scan_io_detail_test.go
Due: gofumpt, goimports

fix: updates windows test
  lsp/internal/hover/render_test.go
Due: gofumpt, goimports

fix(snapshot): stages each WriteFile call in its own file so concurrent writers cannot corrupt the committed file
  docs/API.md
  docs/VERSIONING.md
  snapshot/doc.go
  snapshot/snapshot_test.go
  snapshot/write.go
  snapshot/write_internal_test.go
Due: gofumpt, goimports

ci: runs one tracked test definition with a race-skip rerun, vets every unix target, gates the release on the test workflow, and tests the scripts and CI wiring
  .github/workflows/ci.yaml
  .github/workflows/release.yml
  .github/workflows/yammm_test.yml
  .pre-commit-config.yaml
  cmd/yammm/internal/cli/write_target_fifo_other_test.go
  cmd/yammm/internal/cli/write_target_fifo_unix_test.go
  go.mod
  internal/raceskip/enabled_norace.go
  internal/raceskip/enabled_race.go
  internal/raceskip/raceskip.go
  internal/raceskip/raceskip_test.go
  internal/scripttest/fixture_test.go
  internal/scripttest/lintconfig_sh_test.go
  internal/scripttest/packages_sh_test.go
  internal/scripttest/race_skip_test.go
  internal/scripttest/test_sh_test.go
  internal/scripttest/vet_sh_test.go
  internal/scripttest/wiring_test.go
  internal/testsummary/main.go
  internal/testsummary/main_test.go
  schema/fifo_guard_test.go
  scripts/lintconfig.sh
  scripts/packages.sh
  scripts/test.sh
  scripts/vet.sh
  snapshot/race_off_test.go
  snapshot/race_on_test.go
  snapshot/update_bench_test.go
Due: yamlfmt, gofumpt, goimports, go-mod-tidy

fix: makes commit 2's new tests and mutate.sh hold on Windows
  location/host_path_test.go
  lsp/internal/analysis/analyzer_test.go
  scripts/mutate.sh
  test-output.txt
Due: gofumpt, goimports

fix(location): spells a Windows path by its final path and resolves a link target's .. as the kernel does
  go.mod
  internal/yammmtest/ondisk.go
  internal/yammmtest/ondisk_other.go
  internal/yammmtest/ondisk_test.go
  internal/yammmtest/ondisk_windows.go
  location/doc.go
  location/host_path.go
  location/host_path_other.go
  location/host_path_posix.go
  location/host_path_test.go
  location/host_path_windows.go
  location/host_path_windows_test.go
Due: gofumpt, goimports, go-mod-tidy

fix(doclint): reads a dependency row against every file's imports, and lints the Windows build in the gate
  .golangci.yml
  .pre-commit-config.yaml
  Makefile
  internal/doclint/deps.go
  internal/doclint/deps_test.go
  internal/doclint/testdata/depfixture/constrained/constrained.go
  internal/doclint/testdata/depfixture/constrained/constrained_elsewhere.go
  internal/doclint/testdata/depfixture/constrained/doc.go
  internal/doclint/testdata/depfixture/constrained/generator.go
  internal/scripttest/lint_sh_test.go
  internal/scripttest/wiring_test.go
  location/doc.go
  location/host_path.go
  location/host_path_posix.go
  location/host_path_windows.go
  location/host_path_windows_test.go
  scripts/lint.sh
Due: yamlfmt, gofumpt, goimports

fix(diag): merges a revalidated result through a declared retag, draws an excerpt as a terminal shows it, and captures sources from the load's start
  diag/arrival_test.go
  diag/collector.go
  diag/collector_test.go
  diag/excerpt_render_test.go
  diag/merge_retag_test.go
  diag/renderer.go
  diag/result.go
  docs/API.md
  docs/VERSIONING.md
  instance/validate_cancellation_test.go
  instance/validator.go
  schema/capture_sources_test.go
  schema/load.go
  schema/load_options.go
  snapshot/decode.go
  snapshot/issue_limit_test.go
  snapshot/option.go
  snapshot/revalidation_test.go
Due: gofumpt, goimports

fix(schema): refuses a backslash in an import path, reports a cyclic file declared twice as a duplicate, and keeps a share root's // in the discovered-root clause
  docs/SPEC.md
  docs/VERSIONING.md
  schema/builder.go
  schema/import_cycle_test.go
  schema/import_diag.go
  schema/import_diag_internal_test.go
  schema/import_path_rules_test.go
  schema/load.go
Due: gofumpt, goimports

fix(path,parse): quotes an invalid byte apart from a real U+FFFD at every site that names a character, and moves a position only into a valid rune
  docs/VERSIONING.md
  internal/parse/parse.go
  internal/parse/recovery_test.go
  location/path/builder_test.go
  location/path/parse.go
  location/path/parse_fuzz_test.go
  location/path/parse_test.go
Due: gofumpt, goimports

fix(immutable,graph): stores a pointer to a container as a pointer, reads a container's content at every depth of a clone, and orders a property value by its stored type and content
  docs/VERSIONING.md
  graph/ordering_internal_test.go
  graph/rebuild.go
  immutable/cycle_test.go
  immutable/doc.go
  immutable/map.go
  immutable/value.go
  immutable/wrapper.go
  immutable/wrapper_test.go
Due: gofumpt, goimports

test: pins the behaviour this pass repaired, makes two rows that could not fail discriminating, judges the diamond closure by a ratio rather than a wall clock, and adds clause to the name gate
  cmd/yammm/internal/cli/write_target_test.go
  cmd/yammm/snapshot_info_projection_test.go
  cmd/yammm/snapshot_save_diagnostics_test.go
  cmd/yammm/write_test.go
  diag/render_root_test.go
  diag/withcontext_test.go
  immutable/wrapper_test.go
  instance/internal/eval/carrier_rules_test.go
  instance/internal/eval/kind_rules_test.go
  instance/internal/eval/set_completeness_internal_test.go
  instance/validate_attribution_test.go
  instance/validate_caller_contract_test.go
  internal/doclint/deps_test.go
  internal/doclint/doc.go
  internal/doclint/names.go
  internal/doclint/names_test.go
  internal/yammmtest/hostpath.go
  internal/yammmtest/hostpath_test.go
  location/canonical_path_test.go
  location/span_test.go
  lsp/definition_test.go
  lsp/internal/hover/render_test.go
  lsp/internal/workspace/workspace_test.go
  schema/excerpt_span_test.go
  schema/import_diag_test.go
  schema/load_test.go
  schema/loader_rules_test.go
  schema/sources_test.go
  snapshot/merge_results_internal_test.go
Due: gofumpt, goimports

docs(diag,location,immutable,schema,snapshot): states which reader raises each code, what a prefix promises, what a clone reads, and where a resolver stops
  claude-plugin/skills/yammm/references/cli.md
  diag/code.go
  diag/code_documented_test.go
  diag/code_test.go
  diag/collector.go
  diag/doc.go
  diag/issue.go
  diag/json_test.go
  diag/renderer_test.go
  diag/result.go
  diag/result_test.go
  docs/API.md
  docs/SPEC.md
  docs/VERSIONING.md
  immutable/doc.go
  immutable/map.go
  immutable/normalize.go
  immutable/value.go
  immutable/value_test.go
  internal/yammmtest/hostpath.go
  location/doc.go
  location/errors.go
  location/path/builder.go
  location/path/doc.go
  location/path/pkfield.go
  location/provenance.go
  lsp/internal/workspace/workspace.go
  lsp/internal/workspace/workspace_test.go
  schema/discover_test.go
  schema/doc.go
  schema/load.go
  schema/load_options.go
  schema/load_test.go
  schema/loader_rules_test.go
  snapshot/info.go
  snapshot/marshal.go
  snapshot/snapshottest/snapshottest.go
Due: gofumpt, goimports

fix(parse,format,json): accepts one leading byte order mark on a schema file and a JSON data file, and never writes one
  adapter/json/byte_order_mark_test.go
  adapter/json/doc.go
  adapter/json/parse.go
  claude-plugin/skills/yammm/references/cli.md
  cmd/yammm/testdata/script/check.txtar
  cmd/yammm/testdata/script/fmt.txtar
  cmd/yammm/testdata/script/validate.txtar
  docs/API.md
  docs/SPEC.md
  docs/VERSIONING.md
  format/byte_order_mark_test.go
  internal/parse/byte_order_mark_test.go
  internal/parse/lexer.go
  internal/parse/parse.go
Due: gofumpt, goimports

ci: lints from a cold analysis cache on every host
  .github/workflows/yammm_test.yml
Due: yamlfmt

docs: updates versioning
  docs/VERSIONING.md
Due: none

test(csv,scripts): tracks the mutation runner and drives every csv.Writer error check
  adapter/csv/writer_failure_test.go
  scripts/run_mutants.sh
Due: gofumpt, goimports

test(json,scripts): covers run_mutants.sh, repairs the refusal its own test found unreachable, and pins MarshalObject's bytes across runs
  adapter/json/determinism_test.go
  internal/scripttest/run_mutants_sh_test.go
  scripts/run_mutants.sh
Due: gofumpt, goimports

test(scripts,csv,json): keeps mutate.sh's baseline cache out of the suite it runs, puts the docs gates in every package set, and drives four checks the independent read found undriven
  adapter/csv/writer_failure_test.go
  adapter/json/composite_key_test.go
  adapter/json/determinism_test.go
  internal/scripttest/fixture_test.go
  internal/scripttest/run_mutants_sh_test.go
  scripts/mutate.sh
  scripts/run_mutants.sh
Due: gofumpt, goimports

feat(schema,graph,snapshot,adapter): holds every type a snapshot denotes to one addressability rule and deletes both rendered-name collision checks
  adapter/csv/collision_test.go
  adapter/csv/multi_schema_test.go
  adapter/csv/write.go
  adapter/json/collision_test.go
  adapter/json/doc.go
  adapter/json/transitive_test.go
  adapter/json/write.go
  adapter/neo4j/collision_test.go
  adapter/neo4j/doc.go
  adapter/neo4j/importededge_test.go
  adapter/neo4j/shape_refusal_test.go
  adapter/neo4j/write.go
  claude-plugin/skills/yammm/references/diagnostics.md
  diag/code.go
  docs/API.md
  docs/SPEC.md
  docs/VERSIONING.md
  graph/doc.go
  graph/graph.go
  graph/instance.go
  graph/rebuild.go
  graph/result.go
  graph/unnameable_root_test.go
  schema/addressable.go
  schema/addressable_test.go
  schema/tagform.go
  snapshot/decode.go
  snapshot/identity_oracle_test.go
  snapshot/identity_rekey_test.go
  snapshot/unnameable_root_test.go
  snapshot/wirev3_contract_test.go
Due: gofumpt, goimports

fix(json,scripts): reports a parse diagnostic where the decoder stood before the failing read, and holds every gate script to go.mod's own toolchain
  adapter/json/parse.go
  adapter/json/provenance_test.go
  docs/VERSIONING.md
  internal/scripttest/fixture_test.go
  internal/scripttest/lint_sh_test.go
  internal/scripttest/toolchain_sh_test.go
  scripts/lint.sh
  scripts/test.sh
  scripts/toolchain.sh
  scripts/vet.sh
Due: gofumpt, goimports

test(scripts,scripttest): holds the mutation harness to the module's toolchain, so a verdict is a statement about the program CI judges
  internal/scripttest/fixture_test.go
  internal/scripttest/lint_sh_test.go
  internal/scripttest/toolchain_sh_test.go
  scripts/mutate.sh
  scripts/run_mutants.sh
  scripts/toolchain.sh
Due: gofumpt, goimports

test(neo4j): waits for a started container to become a database that can answer, instead of reading an open Bolt port as a ready one
  adapter/neo4j/integration/harness_ready_test.go
  adapter/neo4j/integration/harness_test.go
Due: gofumpt, goimports

docs(location): states that a .. is evaluated on the text and only a .., and why all three resolvers share that rule
  location/doc.go
Due: gofumpt, goimports

feat(csv,cli): decides an empty CSV cell by the schema, writes a lone empty field quoted, refuses two values the wire cannot carry, and parses CLI CSV with the schema
  adapter/csv/adapter.go
  adapter/csv/coerce.go
  adapter/csv/doc.go
  adapter/csv/empty_cell_test.go
  adapter/csv/parse.go
  adapter/csv/provenance_test.go
  adapter/csv/write.go
  cmd/yammm/internal/cli/data.go
  cmd/yammm/internal/cli/data_csv_target_keys_test.go
  docs/API.md
  docs/VERSIONING.md
Due: gofumpt, goimports

feat(csv,cli): exports WithDelimiter, reads and writes a .tsv file by tabs through one extension rule, and deletes the unreachable headerless mode
  adapter/csv/adapter.go
  adapter/csv/delimiter_test.go
  adapter/csv/doc.go
  adapter/csv/parse.go
  claude-plugin/skills/yammm/references/adapters.md
  claude-plugin/skills/yammm/references/cli.md
  cmd/yammm/export.go
  cmd/yammm/export_tsv_test.go
  cmd/yammm/internal/cli/csv_delimiter_test.go
  cmd/yammm/internal/cli/data.go
  cmd/yammm/root.go
  docs/API.md
  docs/VERSIONING.md
Due: gofumpt, goimports

ci(workflows,scripttest): times out every workflow job and checks each tracked workflow for a timeout
  .github/workflows/ci.yaml
  .github/workflows/publish_vscode.yml
  .github/workflows/release.yml
  internal/scripttest/wiring_test.go
Due: yamlfmt, gofumpt, goimports

test(scripts,scripttest): judges a mutant only by tests that ran, refusing one whose test binaries do not build or fail go test's vet
  internal/scripttest/mutate_sh_test.go
  internal/scripttest/run_mutants_sh_test.go
  scripts/mutate.sh
Due: gofumpt, goimports

test(scripttest): passes the init-panic case's mutant without bare quotes, which Go's Windows command line hands to bash unwrapped
  internal/scripttest/mutate_sh_test.go
Due: gofumpt, goimports

feat(csv,instance,ci): accepts CSV structure strictly and resolves names as the validator does
  .golangci.yml
  .pre-commit-config.yaml
  adapter/csv/adapter.go
  adapter/csv/columns.go
  adapter/csv/doc.go
  adapter/csv/empty_cell_test.go
  adapter/csv/errors.go
  adapter/csv/inherited_association_test.go
  adapter/csv/name_resolution_test.go
  adapter/csv/parse.go
  adapter/csv/provenance_test.go
  adapter/csv/structure_test.go
  adapter/doc.go
  adapter/internal/typetag/doc.go
  adapter/internal/typetag/validate.go
  adapter/internal/typetag/validate_test.go
  adapter/json/doc.go
  adapter/json/parse.go
  claude-plugin/skills/yammm/references/adapters.md
  claude-plugin/skills/yammm/references/diagnostics.md
  diag/code.go
  docs/API.md
  docs/SPEC.md
  docs/VERSIONING.md
  instance/fold_rule_test.go
  instance/validate_edge.go
  instance/validator.go
  internal/scripttest/wiring_test.go
  scripts/run_mutants.sh
Due: yamlfmt, gofumpt, goimports

feat(csv): renders nested lists and every Float one way, splits a multi-byte list separator only between elements, and refuses what the CSV reader cannot give back
  adapter/csv/adapter.go
  adapter/csv/doc.go
  adapter/csv/list_rendering_test.go
  adapter/csv/listsep.go
  adapter/csv/listsep_test.go
  adapter/csv/parse.go
  adapter/csv/write.go
  adapter/csv/write_parse_validate_test.go
  docs/API.md
  docs/VERSIONING.md
Due: gofumpt, goimports

feat(json): reports a repeated key, a repeated member and trailing content without dropping what the document states, keeps an empty array's entry, and stops at the first unreadable fault
  adapter/json/doc.go
  adapter/json/document_structure_test.go
  adapter/json/parse.go
  adapter/json/position.go
  docs/API.md
  docs/VERSIONING.md
Due: gofumpt, goimports

feat(json,immutable): writes a value under a float-bearing constraint with a float indicator, so a whole Float survives this package's own reader and a negative zero keeps its sign
  adapter/json/float_indicator_test.go
  adapter/json/write.go
  docs/VERSIONING.md
  immutable/normalize.go
Due: gofumpt, goimports

feat(json,csv): observes a cancelled context at every JSON entry point, and reports a cancelled CSV parse at the severity HasFatal is documented to carry
  adapter/csv/parse.go
  adapter/csv/parse_test.go
  adapter/json/cancellation_test.go
  adapter/json/parse.go
  adapter/json/write.go
  docs/VERSIONING.md
Due: gofumpt, goimports

ci(scripts,workflows,scripttest): gives a mutation run its own build cache and removes it with the worker trees, and vets every target in a job of its own
  .github/workflows/yammm_test.yml
  .pre-commit-config.yaml
  internal/scripttest/run_mutants_sh_test.go
  internal/scripttest/wiring_test.go
  scripts/run_mutants.sh
  scripts/vet.sh
Due: yamlfmt, gofumpt, goimports

feat(typetag,json,csv): holds a type tag to the grammar's whole reserved vocabulary, refusing a reserved alias and the eleventh datatype name at both parsers
  adapter/csv/structure_test.go
  adapter/internal/typetag/doc.go
  adapter/internal/typetag/reserved_test.go
  adapter/internal/typetag/validate.go
  adapter/internal/typetag/validate_test.go
  adapter/json/provenance_test.go
  docs/VERSIONING.md
Due: gofumpt, goimports

Path conditions:
  yamlfmt: any of: \.(yaml|yml)$
  gofumpt: any of: \.go$
  goimports: any of: \.go$
  go-mod-tidy: any of: ^go\.(mod|sum)$
