Repository simon-lentz/yammm: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamlfmt, gofumpt, goimports, go-mod-tidy

yamlfmt:
  name: yamlfmt
  description: This hook uses github.com/google/yamlfmt to format yaml files. Requires Go >1.18 to be installed.
  entry: yamlfmt
  language: golang

gofumpt:
  name: gofumpt
  entry: gofumpt
  language: system
  args:
  - -w

goimports:
  name: goimports
  entry: goimports
  language: system
  args:
  - -w

go-mod-tidy:
  name: go mod tidy
  entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && go mod tidy'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

feat(spec): updates spec fenced block tags
  docs/SPEC.md
  e2e/spec/relationships_test.go
  e2e/spec/validation_test.go
Due: gofumpt, goimports

fix(issue 1): resolves SPEC.md discrepancies
  docs/SPEC.md
  e2e/spec/expressions_test.go
  e2e/spec/properties_test.go
  e2e/spec/relationships_test.go
  instance/eval/evaluator.go
  instance/validator.go
  schema/internal/complete/complete.go
  schema/internal/parse/parser.go
Due: gofumpt, goimports

feat(yammm): adds list type
  diag/code.go
  docs/SPEC.md
  e2e/spec/list_test.go
  instance/eval/builtins.go
  instance/eval/checkers.go
  internal/grammar/YammmGrammar.g4
  internal/grammar/YammmGrammar.interp
  internal/grammar/YammmGrammar.tokens
  internal/grammar/YammmGrammarLexer.interp
  internal/grammar/YammmGrammarLexer.tokens
  internal/grammar/yammmgrammar_base_listener.go
  internal/grammar/yammmgrammar_base_visitor.go
  internal/grammar/yammmgrammar_lexer.go
  internal/grammar/yammmgrammar_listener.go
  internal/grammar/yammmgrammar_parser.go
  internal/grammar/yammmgrammar_visitor.go
  lsp/format.go
  lsp/provider_completion.go
  schema/constraint.go
  schema/constraint_list_test.go
  schema/internal/alias/alias.go
  schema/internal/complete/complete.go
  schema/internal/complete/linearize.go
  schema/internal/parse/parser.go
Due: gofumpt, goimports

feat(pks): tightens pk allowlist
  diag/code.go
  docs/SPEC.md
  e2e/spec/list_test.go
  e2e/spec/properties_test.go
  instance/eval/checkers_test.go
  instance/path/parse.go
  instance/path/parse_schema_test.go
  lsp/format.go
  lsp/provider_completion_test.go
  lsp/provider_format_test.go
  schema/internal/complete/complete.go
  schema/internal/complete/linearize.go
  schema/internal/parse/parser_coverage_test.go
Due: gofumpt, goimports

feat(claude-plugin): updates plugin to reflect new List type
  claude-plugin/agents/schema-author.md
  claude-plugin/agents/schema-reviewer.md
  claude-plugin/skills/yammm-dsl/SKILL.md
  claude-plugin/skills/yammm-dsl/references/expressions.md
  claude-plugin/skills/yammm-dsl/references/patterns.md
  claude-plugin/skills/yammm-dsl/references/type-system.md
Due: none

test(e2e): consolidates to e2e/spec and e2e/claude-plugin
  e2e/spec/builtins_test.go
  e2e/spec/negative_bounds_test.go
  e2e/spec/nil_underscore_test.go
  e2e/spec/testdata/builtins/collection_builtins.yammm
  e2e/spec/testdata/builtins/control_flow_builtins.yammm
  e2e/spec/testdata/builtins/data.json
  e2e/spec/testdata/builtins/lambda.yammm
  e2e/spec/testdata/builtins/non_lambda.yammm
  e2e/spec/testdata/builtins/numeric_builtins.yammm
  e2e/spec/testdata/builtins/positional_args.yammm
  e2e/spec/testdata/builtins/string_builtins.yammm
  e2e/spec/testdata/negative_bounds/data.json
  e2e/spec/testdata/negative_bounds/negative_bounds.yammm
  e2e/spec/testdata/nil_underscore/builtin_len.yammm
  e2e/spec/testdata/nil_underscore/data.json
  e2e/spec/testdata/nil_underscore/keyword_nil.yammm
  e2e/spec/testdata/nil_underscore/underscore_nil.yammm
Due: gofumpt, goimports

test(claude-plugin): extends plugin testing and guidance to full featureset
  claude-plugin/skills/yammm-dsl/references/expressions.md
  e2e/claude-plugin/expressions_test.go
  e2e/claude-plugin/patterns_test.go
  e2e/claude-plugin/testdata/expressions/builtins_extended.yammm
  e2e/claude-plugin/testdata/expressions/data.json
  e2e/claude-plugin/testdata/expressions/operators_extended.yammm
  e2e/claude-plugin/testdata/patterns/data.json
  e2e/claude-plugin/testdata/patterns/list_patterns.yammm
  e2e/claude-plugin/testdata/type_system/data.json
  e2e/claude-plugin/testdata/type_system/list_edge_banned.yammm
  e2e/claude-plugin/testdata/type_system/list_narrowing_invalid.yammm
  e2e/claude-plugin/testdata/type_system/list_pk_banned.yammm
  e2e/claude-plugin/testdata/type_system/list_types.yammm
  e2e/claude-plugin/testdata/type_system/pk_alias_banned.yammm
  e2e/claude-plugin/testdata/type_system/pk_boolean_banned.yammm
  e2e/claude-plugin/testdata/type_system/pk_date.yammm
  e2e/claude-plugin/testdata/type_system/pk_enum_banned.yammm
  e2e/claude-plugin/testdata/type_system/pk_float_banned.yammm
  e2e/claude-plugin/testdata/type_system/pk_integer_banned.yammm
  e2e/claude-plugin/testdata/type_system/pk_pattern_banned.yammm
  e2e/claude-plugin/testdata/type_system/pk_timestamp.yammm
  e2e/claude-plugin/testdata/type_system/pk_vector_banned.yammm
  e2e/claude-plugin/type_system_test.go
Due: gofumpt, goimports

test(claude-plugin): extends plugin testing and guidance to full featureset
  e2e/claude-plugin/helpers_test.go
  e2e/claude-plugin/type_system_test.go
Due: gofumpt, goimports

fix: bumps plugin version, fixes list alias textmate scoping
  .claude-plugin/marketplace.json
  claude-plugin/.claude-plugin/plugin.json
  lsp/editors/vscode/syntaxes/yammm.tmLanguage.json
Due: none

refactor: moves internal lsp dependencies into their own package
  Makefile
  e2e/spec/adapter_test.go
  e2e/spec/loading_test.go
  grammar/YammmGrammar.g4
  grammar/YammmGrammar.interp
  grammar/YammmGrammar.tokens
  grammar/YammmGrammarLexer.interp
  grammar/YammmGrammarLexer.tokens
  grammar/doc.go
  grammar/grammar.go
  grammar/offset_semantics_test.go
  grammar/yammmgrammar_base_listener.go
  grammar/yammmgrammar_base_visitor.go
  grammar/yammmgrammar_lexer.go
  grammar/yammmgrammar_listener.go
  grammar/yammmgrammar_parser.go
  grammar/yammmgrammar_visitor.go
  internal/grammar/doc.go
  lsp/analyzer.go
  lsp/format.go
  lsp/posconv.go
  lsp/posconv_test.go
  lsp/provider_symbols_test.go
  lsp/symbols.go
  lsp/symbols_test.go
  schema/expr/compile.go
  schema/expr/expr_test.go
  schema/expr/visitor.go
  schema/internal/alias/alias_test.go
  schema/internal/parse/parse_test.go
  schema/internal/parse/parser.go
  schema/internal/parse/parser_coverage_test.go
  schema/internal/span/builder_test.go
  schema/load/load.go
  schema/schema_test.go
  schema/sources_test.go
  source/doc.go
  source/registry.go
  source/registry_test.go
Due: gofumpt, goimports

refactor: consolidates lsp into its own package
  .gitignore
  .pre-commit-config.yaml
  Makefile
  go.work
  lsp/go.mod
  lsp/go.sum
Due: yamlfmt

refactor: reduces immutable API surface with functional constructor
  graph/ownership_test.go
  immutable/doc.go
  immutable/key.go
  immutable/key_test.go
  immutable/map.go
  immutable/map_test.go
  immutable/ownership_test.go
  immutable/properties.go
  immutable/properties_test.go
  immutable/slice.go
  immutable/slice_test.go
  immutable/value.go
  immutable/value_test.go
  instance/eval/scope.go
  instance/eval/scope_test.go
  instance/validate_edge.go
  instance/validator.go
Due: gofumpt, goimports

refactor: updates to cmp and t.Context where needed
  adapter/json/write.go
  diag/collector.go
  graph/graph_logging_test.go
  graph/internal/walk/walk_logging_test.go
  instance/options_test.go
  instance/ownership_test.go
  instance/validate_composition_test.go
  instance/validate_edge_test.go
  instance/validator_test.go
  internal/trace/bench_test.go
  internal/trace/op_test.go
  internal/trace/trace_test.go
  internal/value/order.go
  location/span.go
  lsp/integration_markdown_test.go
  lsp/integration_test.go
  lsp/markdown_test.go
  lsp/server.go
  schema/load/load_test.go
Due: gofumpt, goimports

hygiene: removes replace from lsp
  lsp/go.mod
  lsp/go.sum
Due: none

feat(ci): adds dependabot and ci invoke of pre-commit
  .github/dependabot.yml
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  scripts/lint.sh
  scripts/test.sh
Due: yamlfmt

hygiene: consolidates claude-plugin
  .claude-plugin/marketplace.json
Due: none

hygiene: updates readme
  .github/workflows/publish_vscode.yml
Due: yamlfmt

hygiene: updates readme
  .github/workflows/ci.yaml
Due: yamlfmt

hygiene(claude-plugin): adds memory and tool call scoping
  claude-plugin/agents/schema-author.md
  claude-plugin/agents/schema-reviewer.md
Due: none

chore: updates plugin guidance wrt yammm-lsp repo
  claude-plugin/.claude-plugin/plugin.json
  claude-plugin/README.md
  claude-plugin/commands/setup-lsp.md
  claude-plugin/hooks/hooks.json
Due: none

chore: updates plugin guidance wrt yammm-lsp repo
  .claude-plugin/marketplace.json
Due: none

chore: add .vscode to gitignore
  .gitignore
Due: none

feat(diag): adds registry mechanism for external consumers that need to define their own codes
  diag/code.go
  diag/code_test.go
Due: gofumpt, goimports

feat(neo4j): adds adapter/neo4j scaffold and testdata
  adapter/doc.go
  adapter/neo4j/adapter.go
  adapter/neo4j/doc.go
  adapter/neo4j/errors.go
  adapter/neo4j/testdata/abstract_types.yammm
  adapter/neo4j/testdata/aliases.yammm
  adapter/neo4j/testdata/basic.yammm
  adapter/neo4j/testdata/composite_pk.yammm
  adapter/neo4j/testdata/enum_pattern.yammm
  adapter/neo4j/testdata/inheritance.yammm
  adapter/neo4j/testdata/list_properties.yammm
  adapter/neo4j/testdata/multiple_types.yammm
  adapter/neo4j/testdata/part_types.yammm
  adapter/neo4j/testdata/write_basic.yammm
Due: gofumpt, goimports

feat(neo4j): adds label handling
  adapter/neo4j/labels.go
  adapter/neo4j/labels_test.go
Due: gofumpt, goimports

feat(neo4j): adds constraint engine
  adapter/neo4j/constraints.go
  adapter/neo4j/constraints_test.go
Due: gofumpt, goimports

feat(graph): adds graph shape and node shape coercion
  adapter/neo4j/shape.go
  adapter/neo4j/shape_test.go
Due: gofumpt, goimports

feat(neo4j): adds write capability to neo4j adapter
  adapter/neo4j/write.go
  adapter/neo4j/write_test.go
Due: gofumpt, goimports

feat(test): adds integration testing for adapter/neo4j
  adapter/neo4j/adapter_test.go
Due: gofumpt, goimports

fix: cleans up based on feat spec
  adapter/neo4j/adapter_test.go
  adapter/neo4j/labels_test.go
  adapter/neo4j/write.go
  adapter/neo4j/write_test.go
Due: gofumpt, goimports

feat(diag): adds diag API integration to adapter/neo4j
  adapter/neo4j/adapter_test.go
  adapter/neo4j/constraints.go
  adapter/neo4j/constraints_test.go
  adapter/neo4j/doc.go
  adapter/neo4j/errors.go
  adapter/neo4j/labels.go
  adapter/neo4j/labels_test.go
  adapter/neo4j/shape.go
  adapter/neo4j/shape_test.go
  adapter/neo4j/write_test.go
Due: gofumpt, goimports

feat(diag): adds diag API integration to adapter/neo4j
  adapter/doc.go
  adapter/neo4j/adapter_test.go
  adapter/neo4j/constraints_test.go
  adapter/neo4j/helpers_test.go
  adapter/neo4j/write.go
  adapter/neo4j/write_test.go
Due: gofumpt, goimports

feat(diag): adds diag API integration to adapter/neo4j
  adapter/neo4j/adapter.go
  adapter/neo4j/adapter_test.go
  adapter/neo4j/testdata/edge_mixed.yammm
  adapter/neo4j/write.go
  adapter/neo4j/write_test.go
Due: gofumpt, goimports

feat(diag): adds an error method adapter for more intuitive usage
  diag/result.go
  diag/result_test.go
Due: gofumpt, goimports

feat(neo4j): adds dbtype coercion to adapter
  adapter/neo4j/write.go
  go.mod
  go.sum
Due: gofumpt, goimports, go-mod-tidy

Path conditions:
  yamlfmt: any of: \.(yaml|yml)$
  gofumpt: any of: \.go$
  goimports: any of: \.go$
  go-mod-tidy: any of: ^go\.(mod|sum)$
