Repository simon-lentz/yammm: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamlfmt, gofumpt, goimports, go-mod-tidy

yamlfmt:
  name: yamlfmt
  description: This hook uses github.com/google/yamlfmt to format yaml files. Requires Go >1.18 to be installed.
  entry: yamlfmt
  language: golang

gofumpt:
  name: gofumpt
  entry: gofumpt
  language: system
  args:
  - -w

goimports:
  name: goimports
  entry: goimports
  language: system
  args:
  - -w

go-mod-tidy:
  name: go mod tidy
  entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && go mod tidy'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

feat(snapshot): adds a batch assembler from snapshot
  claude-plugin/skills/yammm/references/api-pipeline.md
  docs/API.md
  docs/VERSIONING.md
  graph/batch_assembler.go
  graph/batch_assembler_test.go
  graph/doc.go
Due: gofumpt, goimports

feat(snapshot): adds a batch assembler from snapshot
  docs/VERSIONING.md
Due: none

feat(tests): adds gremlins for adapter/neo4j and rewrites test suite
  adapter/neo4j/adapter_test.go
  adapter/neo4j/builders_test.go
  adapter/neo4j/constraints_test.go
  adapter/neo4j/helpers_test.go
  adapter/neo4j/infer_test.go
  adapter/neo4j/introspect_test.go
  adapter/neo4j/labels_test.go
  adapter/neo4j/testdata/constraints_abstract_types.golden
  adapter/neo4j/testdata/constraints_aliases.golden
  adapter/neo4j/testdata/constraints_basic.golden
  adapter/neo4j/testdata/constraints_composite_pk.golden
  adapter/neo4j/testdata/constraints_enum_pattern.golden
  adapter/neo4j/testdata/constraints_inheritance.golden
  adapter/neo4j/testdata/constraints_list_properties.golden
  adapter/neo4j/testdata/constraints_multiple_types.golden
  adapter/neo4j/testdata/constraints_part_types.golden
  adapter/neo4j/testdata/constraints_structured_basic.golden
  adapter/neo4j/testdata/infer_basic_types.golden
  adapter/neo4j/testdata/infer_cross_schema_relationships.golden
  adapter/neo4j/testdata/infer_custom_separator.golden
  adapter/neo4j/testdata/infer_empty_input.golden
  adapter/neo4j/testdata/infer_filters_by_schema.golden
  adapter/neo4j/testdata/infer_missing_property_type.golden
  adapter/neo4j/testdata/infer_nodekey_composite.golden
  adapter/neo4j/testdata/infer_with_relationships.golden
  adapter/neo4j/write_test.go
Due: gofumpt, goimports

feat(eval): reworks test suite to remove duplicate cases across instance eval suite
  instance/internal/eval/builtins_test.go
  instance/internal/eval/eval_helpers_test.go
  instance/internal/eval/evaluator_test.go
Due: gofumpt, goimports

feat(tests): reworks suite across cmd
  cmd/yammm-lsp/main_test.go
  cmd/yammm/check_test.go
  cmd/yammm/export_test.go
  cmd/yammm/fmt_test.go
  cmd/yammm/gen_test.go
  cmd/yammm/load_test.go
  cmd/yammm/neo4j_constraints_test.go
  cmd/yammm/neo4j_diff_test.go
  cmd/yammm/script_test.go
  cmd/yammm/snapshot_info_test.go
  cmd/yammm/snapshot_save_test.go
  cmd/yammm/snapshot_update_metadata_test.go
  cmd/yammm/snapshot_verify_test.go
  cmd/yammm/testdata/script/check.txtar
  cmd/yammm/testdata/script/export.txtar
  cmd/yammm/testdata/script/fmt.txtar
  cmd/yammm/testdata/script/gen.txtar
  cmd/yammm/testdata/script/load.txtar
  cmd/yammm/testdata/script/neo4j_constraints.txtar
  cmd/yammm/testdata/script/snapshot.txtar
  cmd/yammm/testdata/script/validate.txtar
  cmd/yammm/validate_test.go
  go.mod
Due: gofumpt, goimports, go-mod-tidy

hygiene: removes deprecated references
  claude-plugin/skills/yammm/references/api-pipeline.md
  diag/builder_test.go
  diag/json_test.go
  docs/VERSIONING.md
  lsp/internal/markdown/markdown.go
  schema/load.go
  schema/load_test.go
  schema/registry_test.go
  snapshot/goldenbytes_test.go
  snapshot/snapshot_test.go
  snapshot/update_bench_test.go
Due: gofumpt, goimports

feat(tests): collapses value cmp and concurrency cross-test
  .golangci.yml
  immutable/helpers_test.go
  immutable/key_test.go
  immutable/map_test.go
  immutable/normalize_test.go
  immutable/properties_test.go
  immutable/slice_test.go
  immutable/value_test.go
  internal/ident/ident_test.go
  internal/source/registry_test.go
  internal/value/classify_test.go
  internal/value/imath_test.go
  internal/value/order_test.go
  internal/yammmtest/yammmtest.go
Due: yamlfmt, gofumpt, goimports

feat(tests): collapses residual tests that were candidate for consolidation
  location/canonical_path_test.go
  location/path/parse_test.go
Due: gofumpt, goimports

feat(instance): adds instancetest
  .pre-commit-config.yaml
  instance/instancetest/instancetest.go
  instance/instancetest/instancetest_test.go
  instance/internal/eval/builtins_test.go
  instance/internal/eval/checkers_test.go
  instance/valid_test.go
  instance/validator_test.go
  snapshot/goldenbytes_test.go
  snapshot/snapshot_test.go
  snapshot/snapshottest/build.go
  snapshot/snapshottest/build_test.go
  snapshot/snapshottest/snapshottest.go
  snapshot/snapshottest/snapshottest_test.go
  snapshot/testdata/marshal_representative.ys.golden
  snapshot/testdata/updatemetadata/compact.ys
  snapshot/testdata/updatemetadata/indent2sp.ys
  snapshot/testdata/updatemetadata/indentTab.ys
  snapshot/testdata/updatemetadata/metadata.ys
  snapshot/update_test.go
Due: yamlfmt, gofumpt, goimports

feat(graph): externalizes test suite
  graph/association_test.go
  graph/batch_assembler_test.go
  graph/composed_test.go
  graph/concurrent_fuzz_test.go
  graph/concurrent_test.go
  graph/crossschema_test.go
  graph/duplicate_test.go
  graph/graph_test.go
  graph/import_test.go
  graph/key_test.go
  graph/ownership_test.go
  graph/rebuild_test.go
  graph/result_test.go
  graph/testhelpers_test.go
  snapshot/snapshottest/snapshottest.go
  snapshot/snapshottest/snapshottest_test.go
Due: gofumpt, goimports

feat(lsp): execute on test consolidation
  lsp/internal/workspace/export_test_helpers.go
  lsp/internal/workspace/markdown.go
  lsp/internal/workspace/scheduler.go
  lsp/internal/workspace/scheduler_test.go
  lsp/internal/workspace/workspace_test.go
  lsp/server_test.go
Due: gofumpt, goimports

feat(lsp): implements new goldens
  lsp/internal/completion/complete_test.go
  lsp/internal/completion/testdata/builtin_types.golden
  lsp/internal/completion/testdata/completions_import.golden
  lsp/internal/completion/testdata/completions_property_type.golden
  lsp/internal/completion/testdata/completions_top_level.golden
  lsp/internal/completion/testdata/completions_type_body.golden
  lsp/internal/hover/render_test.go
  lsp/internal/hover/testdata/render_symbol.golden
  lsp/internal/symbols/document_test.go
  lsp/internal/symbols/testdata/document_symbols_datatype.golden
  lsp/internal/symbols/testdata/document_symbols_invariants.golden
  lsp/internal/symbols/testdata/document_symbols_multiple_types.golden
  lsp/internal/symbols/testdata/document_symbols_orphan_imports_and_types_synthetic_schema.golden
  lsp/internal/symbols/testdata/document_symbols_orphan_imports_synthetic_schema.golden
  lsp/internal/symbols/testdata/document_symbols_relations.golden
  lsp/internal/symbols/testdata/document_symbols_schema_name_equals_type_name.golden
  lsp/internal/symbols/testdata/document_symbols_schema_only.golden
  lsp/internal/symbols/testdata/document_symbols_schema_with_imports_and_types.golden
  lsp/internal/symbols/testdata/document_symbols_type_with_members.golden
  lsp/internal/testutil/harness.go
  lsp/server_test.go
Due: gofumpt, goimports

feat(schema): consolidates testing
  schema/constraint_test.go
  schema/hash_test.go
  schema/import_test.go
  schema/internal/exprcomp/exprcomp_test.go
  schema/linearize.go
  schema/load_fuzz_test.go
  schema/load_test.go
  schema/parser_coverage_test.go
  schema/schema_test.go
  schema/span.go
  schema/testdata/fuzz/FuzzLoadString/7fa2d0e7b207d272
  schema/testdata/fuzz/FuzzLoadString/d777548fcf2963b5
  schema/type_test.go
Due: gofumpt, goimports

feat(complete): adds golden file coverage
  schema/complete_test.go
  schema/testdata/complete_association_edgepropertynilskipped.golden
  schema/testdata/complete_association_validtarget.golden
  schema/testdata/complete_association_withedgeproperties.golden
  schema/testdata/complete_associationtarget_valid.golden
  schema/testdata/complete_composition_validtarget.golden
  schema/testdata/complete_compositiontarget_valid.golden
  schema/testdata/complete_datatype_multiple.golden
  schema/testdata/complete_datatype_nilskipped.golden
  schema/testdata/complete_datatype_simple.golden
  schema/testdata/complete_deepchainforwardreference.golden
  schema/testdata/complete_diamondinheritance.golden
  schema/testdata/complete_emptyschema.golden
  schema/testdata/complete_forwardreferenceinheritance.golden
  schema/testdata/complete_import_nilskipped.golden
  schema/testdata/complete_invariant_multiple.golden
  schema/testdata/complete_invariant_nilskipped.golden
  schema/testdata/complete_invariant_single.golden
  schema/testdata/complete_nilinheritsref_skipped.golden
  schema/testdata/complete_nilpropertydecl_skipped.golden
  schema/testdata/complete_nilrelationdecl_skipped.golden
  schema/testdata/complete_niltypedecl_skipped.golden
  schema/testdata/complete_relationinheritance_associations.golden
  schema/testdata/complete_relationinheritance_compositions.golden
  schema/testdata/complete_simpleinheritance.golden
  schema/testdata/complete_singletype.golden
  schema/testdata/narrowing_enumsubset.golden
  schema/testdata/narrowing_validconstraintnarrowing.golden
  schema/testdata/narrowing_validmodifieroverride.golden
Due: gofumpt, goimports

feat(complete): adds golden file coverage
  instance/testdata/composition_diag_null_optional.golden
  instance/testdata/composition_diag_null_required.golden
  instance/testdata/composition_diag_reason_absent.golden
  instance/testdata/composition_diag_reason_empty.golden
  instance/testdata/edge_diag_composite_both_invalid.golden
  instance/testdata/edge_diag_composite_one_invalid_one_missing.golden
  instance/testdata/edge_diag_composite_one_null_one_missing.golden
  instance/testdata/edge_diag_composite_one_null_one_valid.golden
  instance/testdata/edge_diag_fk_missing_all.golden
  instance/testdata/edge_diag_fk_partial.golden
  instance/testdata/edge_diag_null_many.golden
  instance/testdata/edge_diag_null_optional.golden
  instance/testdata/edge_diag_null_required.golden
  instance/testdata/edge_diag_single_fk_null.golden
  instance/validate_composition_test.go
  instance/validate_edge_test.go
  schema/load_test.go
  snapshot/snapshot_test.go
Due: gofumpt, goimports

feat: fixes two latent bugs
  adapter/gogen/doc.go
  adapter/gogen/emit.go
  adapter/gogen/gogen.go
  adapter/gogen/gogen_test.go
  adapter/gogen/testdata/imports/collision_main.go.golden
  adapter/gogen/testdata/imports/diamond_main.go.golden
  adapter/gogen/testdata/imports/inherit_main.go.golden
  adapter/gogen/testdata/imports/main.go.golden
  adapter/gogen/testdata/modroot/a/b/entry.yammm
  adapter/gogen/testdata/modroot/entry.go.golden
  adapter/gogen/testdata/modroot/lib/dep.yammm
  cmd/yammm/gen.go
  cmd/yammm/testdata/script/gen.txtar
  docs/API.md
  docs/VERSIONING.md
  schema/load.go
  schema/load_options.go
  schema/load_test.go
  schema/schema.go
Due: gofumpt, goimports

feat: updates readme
  README.md
Due: none

fix(lsp): revises version, testing, and caching for vscode extension release mechanism
  .github/workflows/ci.yaml
  .gitignore
  lsp/editors/vscode/.vscodeignore
  lsp/editors/vscode/LICENSE
  lsp/editors/vscode/README.md
  lsp/editors/vscode/eslint.config.mjs
  lsp/editors/vscode/package-lock.json
  lsp/editors/vscode/package.json
  lsp/editors/vscode/src/extension.ts
  lsp/editors/vscode/tests/integration/fixtures/workspace/broken.yammm
  lsp/editors/vscode/tests/integration/fixtures/workspace/valid.yammm
  lsp/editors/vscode/tests/integration/runTest.mjs
  lsp/editors/vscode/tests/integration/suite/extension.test.ts
  lsp/editors/vscode/tests/integration/suite/index.ts
  lsp/editors/vscode/tsconfig.json
Due: yamlfmt

fix(imports): consolidates import and import-alias resolution flow
  claude-plugin/skills/yammm/references/diagnostics.md
  cmd/yammm/internal/cli/output.go
  cmd/yammm/internal/cli/output_test.go
  diag/collector.go
  diag/collector_test.go
  diag/result.go
  diag/result_test.go
  docs/API.md
  docs/VERSIONING.md
  lsp/internal/analysis/analysis.go
  lsp/internal/workspace/markdown.go
  lsp/server_test.go
  schema/builder.go
  schema/collision.go
  schema/complete.go
  schema/complete_test.go
  schema/diagnostic_completeness_test.go
  schema/export_test.go
  schema/linearize.go
  schema/load.go
  schema/load_options.go
  schema/load_test.go
  schema/validate_invariants.go
Due: gofumpt, goimports

review: refactors and tightens surface across branch
  cmd/yammm/internal/cli/output.go
  diag/code.go
  diag/code_test.go
  diag/collector.go
  diag/collector_test.go
  diag/renderer.go
  diag/result.go
  diag/severity.go
  docs/VERSIONING.md
  lsp/internal/workspace/markdown.go
  schema/collision.go
  schema/complete.go
  schema/diagnostic_completeness_test.go
  schema/linearize.go
  schema/load.go
Due: gofumpt, goimports

fix(perf): removes internal facing mutation guards on hot paths
  lsp/server_test.go
  schema/collision.go
  schema/complete.go
  schema/diagnostic_completeness_test.go
  schema/linearize.go
  schema/validate_invariants.go
Due: gofumpt, goimports

docs(versioning): updates v0.7.0
  docs/VERSIONING.md
Due: none

feat(perf): refactors supertype and primary-key resolvers
  diag/collector.go
  diag/result.go
  diag/result_test.go
  schema/complete.go
  schema/linearize.go
Due: gofumpt, goimports

feat(perf): memoizes intermediate DFS steps
  diag/result.go
  diag/result_test.go
  schema/complete.go
  schema/diagnostic_completeness_test.go
  schema/linearize.go
Due: gofumpt, goimports

fix: rewords versioning doc
  docs/VERSIONING.md
Due: none

feat: tightens immutable key validation
  adapter/neo4j/doc.go
  adapter/neo4j/write.go
  adapter/neo4j/write_test.go
  docs/API.md
Due: gofumpt, goimports

hygiene: updates plugin and docs
  README.md
  claude-plugin/.claude-plugin/plugin.json
  claude-plugin/skills/yammm/references/adapters.md
  claude-plugin/skills/yammm/references/api-pipeline.md
  claude-plugin/skills/yammm/references/diagnostics.md
  lsp/editors/vscode/tests/integration/suite/extension.test.ts
Due: none

chore: updates docs
  README.md
  claude-plugin/skills/yammm/SKILL.md
  doc.go
  docs/SPEC.md
Due: gofumpt, goimports

feat(jschema): scaffolds JSON Schema generator foundation
  adapter/jschema/constraints.go
  adapter/jschema/constraints_test.go
  adapter/jschema/defs.go
  adapter/jschema/defs_test.go
  adapter/jschema/doc.go
  adapter/jschema/jsonval.go
  adapter/jschema/jsonval_test.go
  graph/composed_inline_test.go
Due: gofumpt, goimports

feat(jschema): adds jschema gen surface
  adapter/jschema/emit.go
  adapter/jschema/jschema.go
  adapter/jschema/jschema_test.go
  adapter/jschema/testdata/composite_pk.json.golden
  adapter/jschema/testdata/composite_pk.yammm
  adapter/jschema/testdata/docs.json.golden
  adapter/jschema/testdata/docs.yammm
  adapter/jschema/testdata/edge_props.json.golden
  adapter/jschema/testdata/edge_props.yammm
  adapter/jschema/testdata/imports/base.yammm
  adapter/jschema/testdata/imports/collision_common.yammm
  adapter/jschema/testdata/imports/collision_main.json.golden
  adapter/jschema/testdata/imports/collision_main.yammm
  adapter/jschema/testdata/imports/common.yammm
  adapter/jschema/testdata/imports/main.json.golden
  adapter/jschema/testdata/imports/main.yammm
  adapter/jschema/testdata/inheritance.json.golden
  adapter/jschema/testdata/inheritance.yammm
  adapter/jschema/testdata/inline_enum.json.golden
  adapter/jschema/testdata/inline_enum.yammm
  adapter/jschema/testdata/named.json.golden
  adapter/jschema/testdata/named.yammm
  adapter/jschema/testdata/patterns.json.golden
  adapter/jschema/testdata/patterns.yammm
  adapter/jschema/testdata/relations.json.golden
  adapter/jschema/testdata/relations.yammm
  adapter/jschema/testdata/scalars.json.golden
  adapter/jschema/testdata/scalars.yammm
  adapter/jschema/testdata/timestamp_formats.json.golden
  adapter/jschema/testdata/timestamp_formats.yammm
Due: gofumpt, goimports

feat(jschema): extends test suite to cover jschema gen
  adapter/jschema/contract_test.go
  adapter/jschema/testdata/composite_pk.baddata.json
  adapter/jschema/testdata/composite_pk.data.json
  adapter/jschema/testdata/docs.baddata.json
  adapter/jschema/testdata/docs.data.json
  adapter/jschema/testdata/edge_props.baddata.json
  adapter/jschema/testdata/edge_props.data.json
  adapter/jschema/testdata/imports/collision_main.baddata.json
  adapter/jschema/testdata/imports/collision_main.data.json
  adapter/jschema/testdata/imports/main.baddata.json
  adapter/jschema/testdata/imports/main.data.json
  adapter/jschema/testdata/inheritance.baddata.json
  adapter/jschema/testdata/inheritance.data.json
  adapter/jschema/testdata/inline_enum.baddata.json
  adapter/jschema/testdata/inline_enum.data.json
  adapter/jschema/testdata/named.baddata.json
  adapter/jschema/testdata/named.data.json
  adapter/jschema/testdata/patterns.baddata.json
  adapter/jschema/testdata/patterns.data.json
  adapter/jschema/testdata/relations.baddata.json
  adapter/jschema/testdata/relations.data.json
  adapter/jschema/testdata/scalars.baddata.json
  adapter/jschema/testdata/scalars.data.json
  adapter/jschema/testdata/timestamp_formats.baddata.json
  adapter/jschema/testdata/timestamp_formats.data.json
  go.mod
Due: gofumpt, goimports, go-mod-tidy

feat(jschema): wires jschema gen through CLI
  cmd/yammm/gen.go
  cmd/yammm/testdata/script/gen.txtar
  cmd/yammm/validate_test.go
Due: gofumpt, goimports

feat(jschema): updates docs, plugin, lsp
  .claude-plugin/marketplace.json
  README.md
  adapter/jschema/doc.go
  adapter/jschema/testdata/edge_props.baddata.json
  adapter/jschema/testdata/edge_props.data.json
  adapter/jschema/testdata/edge_props.json.golden
  adapter/jschema/testdata/edge_props.yammm
  adapter/jschema/testdata/relations.baddata.json
  claude-plugin/.claude-plugin/plugin.json
  claude-plugin/skills/yammm/SKILL.md
  claude-plugin/skills/yammm/references/adapters.md
  claude-plugin/skills/yammm/references/cli.md
  docs/API.md
  docs/VERSIONING.md
Due: gofumpt, goimports

feat(markdown): adds markdown (mermaid) gen skeleton
  adapter/markdown/doc.go
  adapter/markdown/markdown.go
  adapter/markdown/mermaid.go
  adapter/markdown/mermaid_test.go
  adapter/markdown/render.go
  adapter/markdown/render_test.go
  adapter/markdown/section_test.go
Due: gofumpt, goimports

feat(markdown): completes markdown gen API surface
  adapter/markdown/markdown.go
  adapter/markdown/markdown_test.go
  adapter/markdown/render.go
  adapter/markdown/render_test.go
  adapter/markdown/testdata/abstract.md.golden
  adapter/markdown/testdata/abstract.yammm
  adapter/markdown/testdata/docs.md.golden
  adapter/markdown/testdata/docs.yammm
  adapter/markdown/testdata/edge_props.md.golden
  adapter/markdown/testdata/edge_props.yammm
  adapter/markdown/testdata/escaping.md.golden
  adapter/markdown/testdata/escaping.yammm
  adapter/markdown/testdata/imports/base.yammm
  adapter/markdown/testdata/imports/common.yammm
  adapter/markdown/testdata/imports/main.md.golden
  adapter/markdown/testdata/imports/main.yammm
  adapter/markdown/testdata/inheritance.md.golden
  adapter/markdown/testdata/inheritance.yammm
  adapter/markdown/testdata/invariants.md.golden
  adapter/markdown/testdata/invariants.yammm
  adapter/markdown/testdata/named.md.golden
  adapter/markdown/testdata/named.yammm
  adapter/markdown/testdata/no_diagram.md.golden
  adapter/markdown/testdata/no_diagram.yammm
  adapter/markdown/testdata/relations.md.golden
  adapter/markdown/testdata/relations.yammm
  adapter/markdown/testdata/scalars.md.golden
  adapter/markdown/testdata/scalars.yammm
Due: gofumpt, goimports

feat(markdown): wires markdown gen through CLI
  cmd/yammm/gen.go
  cmd/yammm/testdata/script/gen.txtar
  cmd/yammm/validate_test.go
Due: gofumpt, goimports

feat(markdown): updates docs and plugin
  .claude-plugin/marketplace.json
  README.md
  adapter/markdown/doc.go
  claude-plugin/.claude-plugin/plugin.json
  claude-plugin/skills/yammm/SKILL.md
  claude-plugin/skills/yammm/references/adapters.md
  claude-plugin/skills/yammm/references/cli.md
  docs/API.md
  docs/VERSIONING.md
Due: gofumpt, goimports

Path conditions:
  yamlfmt: any of: \.(yaml|yml)$
  gofumpt: any of: \.go$
  goimports: any of: \.go$
  go-mod-tidy: any of: ^go\.(mod|sum)$
