Repository simon-lentz/yammm: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamlfmt, gofumpt, goimports, go-mod-tidy

.pre-commit-config.yaml:

repos:
  # Generic text hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-yaml
      - id: check-json
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint
        name: actionlint (GHA)
        files: ^\.github/workflows/.*\.ya?ml$
  # Go formatting + basic Go workflows
  - repo: local
    hooks:
      # YAML formatting
      - id: yamlfmt
        name: yamlfmt
        description: This hook uses github.com/google/yamlfmt to format yaml files. Requires Go >1.18 to be installed.
        entry: yamlfmt
        language: golang
        types: [yaml]
      # Stricter gofmt
      - id: gofumpt
        name: gofumpt
        entry: gofumpt
        language: system
        types: [go]
        args: ["-w"]
      # Imports: add/remove + format (optional but nice)
      - id: goimports
        name: goimports
        entry: goimports
        language: system
        types: [go]
        args: ["-w"]
      # Keep go.mod/go.sum tidy (run on push, not every commit)
      - id: go-mod-tidy
        name: go mod tidy
        entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && go mod tidy'
        language: system
        pass_filenames: false
        files: ^go\.(mod|sum)$
        stages: [pre-commit, pre-push]
      # Run all tests including integration on push
      - id: go-test
        name: go test
        entry: go test ./...
        language: system
        pass_filenames: false
        stages: [pre-commit, pre-push]
      # Static analysis
      - id: golangci-lint
        name: golangci-lint
        entry: make lint
        language: system
        pass_filenames: false
        stages: [pre-commit, pre-push]

fix(textmate): revises match regexes to capture embedded strings and numerics in property constraints
  instance/eval/builtins_test.go
  instance/eval/checkers_test.go
  instance/eval/evaluator_test.go
  instance/eval/scope_test.go
  instance/path/parse_schema_test.go
  internal/ident/ident_test.go
  lsp/editors/vscode/syntaxes/yammm.tmLanguage.json
  lsp/workspace_test.go
Due: gofumpt, goimports

fix(textmate): revises match regexes for type aliases
  lsp/editors/vscode/syntaxes/yammm.tmLanguage.json
Due: none

fix(vscode): adjusts settings specific to vscode extension build for debugging qol
  .gitignore
  lsp/editors/vscode/package.json
  lsp/editors/vscode/syntaxes/yammm.tmLanguage.json
  lsp/log/.gitkeep
Due: none

fix(vscode): adjusts settings specific to vscode extension build for debugging qol
  lsp/editors/vscode/src/extension.ts
Due: none

fix(textmate): adds relationship delimiter
  lsp/editors/vscode/syntaxes/yammm.tmLanguage.json
Due: none

fix(antlr): adds '-' token and parsing, inlines 'nil'
  README.md
  docs/SPEC.md
  e2e/negative_bounds/data.json
  e2e/negative_bounds/negative_bounds.yammm
  e2e/negative_bounds/negative_bounds_test.go
  internal/grammar/YammmGrammar.g4
  internal/grammar/YammmGrammar.interp
  internal/grammar/YammmGrammar.tokens
  internal/grammar/YammmGrammarLexer.interp
  internal/grammar/YammmGrammarLexer.tokens
  internal/grammar/yammmgrammar_lexer.go
  internal/grammar/yammmgrammar_parser.go
  schema/expr/visitor.go
  schema/internal/alias/alias.go
  schema/internal/alias/alias_test.go
  schema/internal/parse/parser.go
  schema/internal/parse/parser_coverage_test.go
Due: gofumpt, goimports

feat(extension): add marketplace publishing workflow and CI build matrix
  .github/workflows/publish_vscode.yml
  .github/workflows/yammm_test.yml
  .gitignore
  lsp/cmd/yammm-lsp/main.go
  lsp/cmd/yammm-lsp/main_test.go
  lsp/editors/vscode/package-lock.json
  lsp/editors/vscode/package.json
Due: yamlfmt, gofumpt, goimports

feat(extension): adds an icon.png and bundles with package
  lsp/editors/vscode/icon.png
  lsp/editors/vscode/package.json
Due: none

feat(grammar): updates single line comment parsing rules
  internal/grammar/YammmGrammar.g4
  internal/grammar/YammmGrammarLexer.interp
  internal/grammar/offset_semantics_test.go
  internal/grammar/yammmgrammar_lexer.go
  lsp/provider_format.go
  lsp/provider_format_test.go
  lsp/testutil/harness.go
Due: gofumpt, goimports

feat(lsp): adds token-stream formatter
  lsp/format.go
  lsp/provider_format.go
  lsp/provider_format_test.go
Due: gofumpt, goimports

feat(golangci-lint): bumps to latest and resolves resulting issues
  .github/workflows/yammm_test.yml
  Makefile
  diag/collector_test.go
  go.mod
  go.sum
  instance/path/builder.go
  internal/grammar/offset_semantics_test.go
  internal/source/registry_test.go
  lsp/provider_hover.go
  schema/registry_test.go
Due: yamlfmt, gofumpt, goimports, go-mod-tidy

feat(lsp): adds line classification to token stream formatting
  lsp/format.go
  lsp/provider_format_test.go
  testdata/lsp/formatting/formatted.yammm.golden
Due: gofumpt, goimports

feat(lsp): adds alignment formatting rules
  lsp/format.go
  lsp/provider_format_test.go
  testdata/lsp/formatting/formatted.yammm.golden
Due: gofumpt, goimports

feat(lsp): adds line wrapping formatting rules
  lsp/format.go
  lsp/provider_format_test.go
Due: gofumpt, goimports

feat(lsp): updates formatting tests to use schema files with golden outputs
  lsp/integration_test.go
  lsp/provider_format_test.go
  lsp/testutil/apply_edits.go
  testdata/lsp/formatting/alignment.yammm
  testdata/lsp/formatting/alignment.yammm.golden
  testdata/lsp/formatting/comprehensive.yammm
  testdata/lsp/formatting/comprehensive.yammm.golden
  testdata/lsp/formatting/edge_cases.yammm
  testdata/lsp/formatting/edge_cases.yammm.golden
  testdata/lsp/formatting/expressions.yammm
  testdata/lsp/formatting/expressions.yammm.golden
  testdata/lsp/formatting/formatted.yammm.golden
  testdata/lsp/formatting/unformatted.yammm
  testdata/lsp/formatting/wrapping.yammm
  testdata/lsp/formatting/wrapping.yammm.golden
Due: gofumpt, goimports

feat(lsp): improves wrapping logic
  lsp/format.go
  lsp/provider_format_test.go
  testdata/lsp/formatting/expressions.yammm
  testdata/lsp/formatting/expressions.yammm.golden
  testdata/lsp/formatting/wrapping.yammm
  testdata/lsp/formatting/wrapping.yammm.golden
Due: gofumpt, goimports

feat(lsp): adds in-regex tracking
  lsp/format.go
  lsp/provider_format_test.go
Due: gofumpt, goimports

feat(gofix): bumps go version to 1.26 and runs the new go fix tools
  go.mod
  immutable/value.go
  instance/eval/builtins.go
  internal/value/classify_test.go
  lsp/provider_completion.go
  lsp/provider_completion_test.go
Due: gofumpt, goimports, go-mod-tidy

feat(lsp): extracts core logic into reusable components
  lsp/provider_completion.go
  lsp/provider_definition.go
  lsp/provider_hover.go
  lsp/provider_symbols.go
Due: gofumpt, goimports

feat(lsp): adds markdown handling for fenced yammm blocks
  lsp/markdown.go
  lsp/markdown_test.go
  testdata/lsp/markdown/empty.md
  testdata/lsp/markdown/indented.md
  testdata/lsp/markdown/malformed.md
  testdata/lsp/markdown/multiple.md
  testdata/lsp/markdown/nested.md
  testdata/lsp/markdown/simple.md
Due: gofumpt, goimports

feat(lsp): extends markdown per workspace
  lsp/analyzer.go
  lsp/markdown.go
  lsp/markdown_test.go
  lsp/server.go
  lsp/workspace.go
  schema/load/load.go
  schema/load/load_test.go
  schema/load/options.go
  testdata/lsp/markdown/imports.md
Due: gofumpt, goimports

feat(lsp): adds markdown feature dispatchers; hover, diagnostics, etc.
  lsp/analyzer.go
  lsp/markdown.go
  lsp/markdown_test.go
  lsp/provider_completion.go
  lsp/provider_definition.go
  lsp/provider_format.go
  lsp/provider_hover.go
  lsp/provider_symbols.go
  lsp/workspace.go
Due: gofumpt, goimports

feat(lsp): threads markdown handling through packaging
  lsp/doc.go
  lsp/editors/vscode/README.md
  lsp/editors/vscode/package.json
  lsp/editors/vscode/src/extension.ts
  lsp/editors/vscode/syntaxes/yammm.markdown.injection.json
  lsp/integration_markdown_test.go
  lsp/markdown_test.go
  lsp/server.go
  lsp/testutil/harness.go
  testdata/lsp/markdown/errors.md
Due: gofumpt, goimports

fix(lsp): wraps lsp in sync.Once
  lsp/integration_test.go
  lsp/server.go
  lsp/workspace_test.go
Due: gofumpt, goimports

fix(lsp): bumps vsce to 0.1.2
  lsp/editors/vscode/package.json
Due: none

fix(lsp): loosens diagnostic severity for fenced yammm blocks
  README.md
  go.mod
  lsp/editors/vscode/package-lock.json
  lsp/integration_markdown_test.go
  lsp/markdown.go
  lsp/markdown_test.go
  lsp/workspace.go
Due: gofumpt, goimports, go-mod-tidy

fix(lsp): loosens diagnostic severity for fenced yammm blocks
  lsp/provider_definition.go
  lsp/provider_hover.go
Due: gofumpt, goimports

feat(lsp): adds tm grammar syncing with vscode source
  lsp/editors/vscode/.nvmrc
  lsp/editors/vscode/README.md
  lsp/editors/vscode/package-lock.json
  lsp/editors/vscode/package.json
  lsp/editors/vscode/syntaxes/vendor/README.md
  lsp/editors/vscode/syntaxes/vendor/markdown.tmLanguage.json
  lsp/editors/vscode/tests/snapshot/markdown-injection.md
  lsp/editors/vscode/tests/snapshot/markdown-injection.md.snap
  lsp/editors/vscode/tests/snapshot/schema.yammm
  lsp/editors/vscode/tests/snapshot/schema.yammm.snap
  lsp/editors/vscode/tests/snapshot/sibling.yammm
  lsp/editors/vscode/tests/snapshot/sibling.yammm.snap
  lsp/integration_markdown_test.go
  lsp/markdown.go
  lsp/markdown_test.go
Due: gofumpt, goimports

fix(eval): repair builtin evaluation from .yammm source, sync registries, normalize return types
  e2e/builtins/builtins_test.go
  e2e/builtins/collection_builtins.yammm
  e2e/builtins/control_flow_builtins.yammm
  e2e/builtins/data.json
  e2e/builtins/lambda.yammm
  e2e/builtins/non_lambda.yammm
  e2e/builtins/numeric_builtins.yammm
  e2e/builtins/positional_args.yammm
  e2e/builtins/string_builtins.yammm
  e2e/negative_bounds/negative_bounds.yammm
  e2e/nil_underscore/builtin_len.yammm
  e2e/nil_underscore/keyword_nil.yammm
  e2e/nil_underscore/nil_underscore_test.go
  e2e/nil_underscore/underscore_nil.yammm
  instance/eval/builtins.go
  instance/eval/builtins_test.go
  instance/eval/evaluator.go
  instance/eval/evaluator_test.go
  schema/expr/builtins.go
  schema/expr/expr_test.go
Due: gofumpt, goimports

feat(claude-plugin): implements the basics for a yammm claude plugin
  claude-plugin/.claude-plugin/plugin.json
  claude-plugin/README.md
  claude-plugin/agents/schema-author.md
  claude-plugin/agents/schema-reviewer.md
  claude-plugin/commands/format-schema.md
  claude-plugin/commands/new-schema.md
  claude-plugin/commands/validate-schema.md
  claude-plugin/hooks/hooks.json
  claude-plugin/skills/yammm-dsl/SKILL.md
  claude-plugin/skills/yammm-dsl/references/expressions.md
  claude-plugin/skills/yammm-dsl/references/patterns.md
  claude-plugin/skills/yammm-dsl/references/type-system.md
  docs/SPEC.md
  lsp/editors/vscode/syntaxes/yammm.tmLanguage.json
Due: none

hygiene(extension): removes yammm onlang field, bumps extension version
  lsp/editors/vscode/package.json
Due: none

hygiene(extension): removes yammm onlang field, bumps extension version
  lsp/editors/vscode/package-lock.json
Due: none

hygiene(extension): removes yammm onlang field, bumps extension version
  Makefile
Due: none

fix(plugin): uses yammm-syntax for fenced blocks with fragments
  claude-plugin/README.md
  claude-plugin/skills/yammm-dsl/SKILL.md
  claude-plugin/skills/yammm-dsl/references/expressions.md
  claude-plugin/skills/yammm-dsl/references/patterns.md
  claude-plugin/skills/yammm-dsl/references/type-system.md
Due: none

feat(yammm): adds ux features for reverse multiplicty metadata interpretation
  .gitignore
  Makefile
  claude-plugin/commands/new-schema.md
  clinical_trials.yammm
  internal/grammar/YammmGrammar.g4
  internal/grammar/YammmGrammar.interp
  internal/grammar/yammmgrammar_parser.go
  lsp/editors/vscode/syntaxes/yammm.tmLanguage.json
  lsp/editors/vscode/tests/snapshot/schema.yammm
  lsp/editors/vscode/tests/snapshot/schema.yammm.snap
  lsp/provider_hover.go
  schema/internal/parse/parser.go
Due: gofumpt, goimports

feat(yammm): extends file parse with static expression evaluation at completion time
  clinical_trials.yammm
  schema/internal/complete/complete.go
  schema/internal/complete/validate_invariants.go
  schema/internal/complete/validate_invariants_test.go
  schema/load/load_test.go
Due: gofumpt, goimports

feat(yammm): adds ux features for reverse multiplicty metadata interpretation
  examples/clinical_trials.yammm
Due: none

feat(plugin): adds marketplace and additional metadata
  .claude-plugin/marketplace.json
  claude-plugin/.claude-plugin/plugin.json
Due: none
