Repository simon-lentz/yammm: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamlfmt, gofumpt, goimports, go-mod-tidy

.pre-commit-config.yaml:

repos:
  # Generic text hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-yaml
      - id: check-json
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint
        name: actionlint (GHA)
        files: ^\.github/workflows/.*\.ya?ml$
  # Go formatting + basic Go workflows
  - repo: local
    hooks:
      # YAML formatting
      - id: yamlfmt
        name: yamlfmt
        description: This hook uses github.com/google/yamlfmt to format yaml files. Requires Go >1.18 to be installed.
        entry: yamlfmt
        language: golang
        types: [yaml]
      # Stricter gofmt
      - id: gofumpt
        name: gofumpt
        entry: gofumpt
        language: system
        types: [go]
        args: ["-w"]
      # Imports: add/remove + format (optional but nice)
      - id: goimports
        name: goimports
        entry: goimports
        language: system
        types: [go]
        args: ["-w"]
      # Keep go.mod/go.sum tidy (run on push, not every commit)
      - id: go-mod-tidy
        name: go mod tidy
        entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && go mod tidy'
        language: system
        pass_filenames: false
        files: ^go\.(mod|sum)$
        stages: [pre-commit, pre-push]
      # Run all tests including integration on push
      - id: go-test
        name: go test
        entry: go test ./...
        language: system
        pass_filenames: false
        stages: [pre-commit, pre-push]
      # Static analysis
      - id: golangci-lint
        name: golangci-lint
        entry: make lint
        language: system
        pass_filenames: false
        stages: [pre-commit, pre-push]

fix: adds isolatedDriver to prevent connection handoff
  Makefile
  adapter/neo4j/integration/doc.go
  adapter/neo4j/integration/harness_test.go
  adapter/neo4j/integration/offsetzone_test.go
Due: gofumpt, goimports

fix: clears a tz regression
  adapter/neo4j/coerce.go
  adapter/neo4j/integration/offsetzone_test.go
  adapter/neo4j/offsetzone_test.go
  claude-plugin/.claude-plugin/plugin.json
  docs/API.md
  docs/VERSIONING.md
  lsp/editors/vscode/package-lock.json
  lsp/editors/vscode/package.json
Due: gofumpt, goimports

chore: updates gitignore
  .gitignore
Due: none

fix: drops dead test
  docs/API.md
  snapshot/update_bench_test.go
Due: gofumpt, goimports

feat: doc updates
  adapter/csv/doc.go
  adapter/csv/parse.go
  adapter/gogen/doc.go
  adapter/neo4j/write.go
  claude-plugin/skills/yammm/references/adapters.md
  diag/code.go
  docs/API.md
  docs/SPEC.md
  docs/VERSIONING.md
  docs/api_snippets_test.go
  instance/canonical.go
  instance/raw.go
  instance/validator.go
  internal/value/canonical.go
  schema/alias.go
  schema/load_options.go
  snapshot/doc.go
  snapshot/info.go
  snapshot/scan.go
Due: gofumpt, goimports

feat: pins CI
  .github/workflows/yammm_test.yml
Due: yamlfmt

feat: aligns docs for v0.17.0
  docs/API.md
  docs/SPEC.md
  docs/VERSIONING.md
  docs/api_snippets_test.go
  format/doc.go
  instance/schema_builder.go
Due: gofumpt, goimports

docs: corrects what WithClone reaches
  immutable/doc.go
  immutable/key.go
  immutable/map.go
  immutable/properties.go
  immutable/slice.go
  immutable/value.go
Due: gofumpt, goimports

feat: unit 1 review pass
  adapter/json/write_test.go
  docs/API.md
  docs/VERSIONING.md
  graph/add_bench_test.go
  graph/association_test.go
  graph/batch_assembler.go
  graph/batch_assembler_test.go
  graph/build.go
  graph/bypass_guards_test.go
  graph/composed_inline_test.go
  graph/composed_test.go
  graph/concurrent_fuzz_test.go
  graph/concurrent_test.go
  graph/crossschema_test.go
  graph/doc.go
  graph/duplicate.go
  graph/gate_fixes_test.go
  graph/graph.go
  graph/graph_test.go
  graph/key_test.go
  graph/option.go
  graph/ordering_internal_test.go
  graph/ownership_test.go
  graph/rebuild.go
  graph/rebuild_test.go
  graph/result.go
  graph/result_test.go
  instance/validate_composition.go
  snapshot/canonical_test.go
  snapshot/composed_duplicate_test.go
  snapshot/keysemantics_test.go
  snapshot/oracle_probe_test.go
  snapshot/snapshot_test.go
  snapshot/wirevalue_test.go
Due: gofumpt, goimports

feat: unit 1 review pass
  docs/VERSIONING.md
Due: none

feat: unit 1 review pass
  docs/API.md
  docs/VERSIONING.md
  graph/add_bench_test.go
  graph/association_test.go
  graph/batch_assembler.go
  graph/batch_assembler_test.go
  graph/build.go
  graph/bypass_guards_test.go
  graph/composed_test.go
  graph/doc.go
  graph/gate_fixes_test.go
  graph/graph.go
  graph/graph_test.go
  graph/ordering_internal_test.go
  graph/rebuild.go
  graph/rebuild_test.go
  graph/result.go
  instance/validate_composition_test.go
Due: gofumpt, goimports

feat: unit 2 review pass
  adapter/neo4j/builders.go
  adapter/neo4j/coerce.go
  adapter/neo4j/collision_test.go
  adapter/neo4j/composedkey.go
  adapter/neo4j/composedkey_test.go
  adapter/neo4j/constraints.go
  adapter/neo4j/constraints_test.go
  adapter/neo4j/diff.go
  adapter/neo4j/diff_blocking_test.go
  adapter/neo4j/doc.go
  adapter/neo4j/integration/doc.go
  adapter/neo4j/labels.go
  adapter/neo4j/mutability.go
  adapter/neo4j/pairing.go
  adapter/neo4j/testdata/fulltext_pk.yammm
  adapter/neo4j/testdata/labelcollide/entry.yammm
  adapter/neo4j/testdata/labelcollide/geo_regions.yammm
  adapter/neo4j/testdata/nested_list_optional.yammm
  adapter/neo4j/write.go
  adapter/neo4j/write_composed.go
  adapter/neo4j/write_composed_test.go
  adapter/neo4j/zonecache_test.go
  docs/API.md
  docs/SPEC.md
  docs/api_snippets_test.go
  graph/build.go
  graph/doc.go
  graph/fileloaded_test.go
  graph/gate_fixes_test.go
  graph/graph.go
  graph/graph_test.go
  graph/key.go
  graph/key_test.go
  graph/testdata/composed.yammm
  internal/parse/testdata/golden/valid/adapter/neo4j/testdata/fulltext_pk.yammm.golden
  internal/parse/testdata/golden/valid/adapter/neo4j/testdata/labelcollide/entry.yammm.golden
  internal/parse/testdata/golden/valid/adapter/neo4j/testdata/labelcollide/geo_regions.yammm.golden
  internal/parse/testdata/golden/valid/adapter/neo4j/testdata/nested_list_optional.yammm.golden
  internal/parse/testdata/golden/valid/graph/testdata/composed.yammm.golden
  internal/parse/testdata/golden/valid_partition.golden
Due: gofumpt, goimports

feat: unit 3 review pass
  cmd/yammm/snapshot_save.go
  graph/build.go
  graph/canonical.go
  graph/canonicalkey_test.go
  graph/graph.go
  graph/key_test.go
  graph/rebuild.go
  snapshot/decode.go
  snapshot/doc.go
  snapshot/info.go
  snapshot/marshal.go
  snapshot/option.go
  snapshot/typetable.go
  snapshot/update.go
  snapshot/wirevalue.go
Due: gofumpt, goimports

feat: unit 3 review pass
  claude-plugin/skills/yammm/references/diagnostics.md
  diag/code.go
  docs/SPEC.md
  graph/attestation_copy_test.go
  graph/result.go
  snapshot/marshal.go
  snapshot/update.go
Due: gofumpt, goimports

docs: updates versioning
  docs/VERSIONING.md
Due: none

feat: integrates first 3 units of review changes into consolidated release
  claude-plugin/.claude-plugin/plugin.json
  docs/VERSIONING.md
  lsp/editors/vscode/package-lock.json
  lsp/editors/vscode/package.json
Due: none

fix: retires HeaderInfo.UnknownTypes, fails Marshal on unreadable key
  diag/code.go
  docs/API.md
  docs/VERSIONING.md
  snapshot/doc.go
  snapshot/info.go
  snapshot/marshal.go
  snapshot/type_binding_test.go
  snapshot/typetable.go
  snapshot/writerfidelity_test.go
Due: gofumpt, goimports

fix: retires HeaderInfo.UnknownTypes, fails Marshal on unreadable key
  claude-plugin/.claude-plugin/plugin.json
  docs/VERSIONING.md
  lsp/editors/vscode/package-lock.json
  lsp/editors/vscode/package.json
Due: none

feat: unit 4 review pass
  docs/VERSIONING.md
Due: none

feat: updates versioning doc
  docs/VERSIONING.md
Due: none

feat: unit 5 review round changeset versioning doc update
  docs/VERSIONING.md
Due: none

feat: unit 5 review round
  docs/API.md
  docs/SPEC.md
  docs/VERSIONING.md
  instance/canonical.go
  instance/check.go
  instance/check_issue_test.go
  instance/clause34_validator_test.go
  instance/errors.go
  instance/errors_test.go
  instance/internal/eval/builtins.go
  instance/internal/eval/checkers.go
  instance/internal/eval/checkers_test.go
  instance/internal/eval/clause34_eval_test.go
  instance/internal/eval/eval_helpers_test.go
  instance/internal/eval/evaluator.go
  instance/internal/eval/evaluator_test.go
  instance/internal/eval/scope.go
  instance/internal/eval/scope_test.go
  instance/invariant_recover_test.go
  instance/path_rule_test.go
  instance/schema_builder.go
  instance/testdata/contract/contract_pass.yammm
  instance/valid.go
  instance/validate_composition.go
  instance/validate_edge.go
  instance/validator.go
  internal/parse/testdata/golden/valid/instance/testdata/contract/contract_pass.yammm.golden
  internal/value/canonical.go
  internal/value/canonical_test.go
  internal/value/classify.go
  internal/value/classify_fuzz_test.go
  internal/value/classify_test.go
  internal/value/doc.go
  internal/value/order.go
  internal/value/order_test.go
  schema/expr/builtins.go
  schema/expr/builtins_test.go
  schema/expr/expression.go
  schema/invariant_static_test.go
  schema/validate_invariants.go
Due: gofumpt, goimports

feat: unit 5 versioning doc update
  docs/VERSIONING.md
Due: none
